/* DEPRECIATED - DO NOT USE ANY MORE */
span.fsj_admin_menu_set
{
	font-weight: normal;
	padding: 0 0 0 15px;
	font-size: 1.2em;
	color: #146295;
	line-height: 14px;
	height: 12px;
	font-style: italic;
	top: -1px;
	position: relative;
}

.fsj {
	div.pagetitle {
		background-size: 24px;
		padding-left: 30px;
		background-position-y: 6px;
		h2 {
			font-size: 1.5em;
			line-height: 24px;
			padding-top: 6px;
		}
	}

	div.width-20, div.width-30, div.width-35, div.width-40, div.width-45, div.width-50, div.width-55, 
	div.width-60, div.width-65, div.width-70, div.width-80, div.width-100
	{
		div.current {
			 fieldset {
				padding: 0px;
			}
		}
	}

	/* IcoMoon colors */
	.icon-featured:before,
	.icon-default:before {
		color: #f89406;
	}
	.icon-pending:before {
		color: #f89406;
	}
	.icon-publish:before,
	.icon-save:before,
	.icon-ok:before {
		color: #51a351;
	}
	.icon-unpublish:before,
	.btn-toolbar .icon-cancel:before {
		color: #bd362f;
	}
	.icon-not-ok:before,
	.icon-eye-close:before {
		color: #bd362f;
	}

	.input-append, .input-prepend
    {
		font-size: 12px !important;
    }

	.input-prepend
    {
		span
        {
        	padding-bottom: 5px !important;
			position: relative;
			left: 3px;
        }
    }

	.pull-right
    {
		float: right;
    }
	.pull-left
    {
		float: left;
    }

	.btn-mini
    {
    	padding-top: 3px !important;
    }

	input.inputbox 
    {
    	margin-bottom: 3px;
    }
}


.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
}
.modal-backdrop, .modal-backdrop.fade.in {
	opacity: 0.8;
	filter: alpha(opacity=80);
}