.image_cont_64x64 
{
	width: 64px;
	height: 64px;
	border: 1px solid red;
	display: table-cell;
	vertical-align: middle;

	img 
    {
		max-width: 64px;
		max-height: 64px;
		margin-left: auto;
		margin-right: auto;
		vertical-align: middle;
    }
}