
a.btn, div.btn {
	background: #fff;
	border: 1px solid #ccc;
	text-decoration: none;
	float: left;
	width: auto;
	margin: 5px 5px 5px 0;
	padding: 1px 6px;
	font-size: 13px;
	cursor: pointer;

	img {
		margin: 0px;
		padding-right: 4px;
	}
}
