/*
CSS for global checkboxes in forms
Also a few other bits specific to fsj* field types
*/

.fsj_fieldset_hide
{
    position: absolute;
    left: -4px;
    top: -2px;
    right: -4px;
    bottom: -2px;
    background-color: rgba(200,200,200,0.5);
}

.fsj_global_cb
{
    margin: 0px 5px 0px 0px !important;
}

.fsj_form_subsection_header
{
    font-weight: bold;
    font-size: 110%;   
    text-align:left;
}

