.fsj_related 
{
	.dragsort 
	{
		margin-top: 6px;
		.item 
		{
			span 
			{
				white-space: nowrap;
				max-width: 370px;
				overflow-x: hidden;
				text-overflow: ellipsis;
				display: inline-block;
			}

			img
			{
				/*padding-right: 3px;*/
				position: relative;
				top: 2px;
			}
		}

	}
}