.fsj {
	.fsj_clear
	{
		clear: both;
	}
	.fsj_powered
	{
		text-align:center;
		padding-top:20px;
		a {
			color: #095197 !important;
			text-decoration: none;
		}
		a:hover {
			background-color: transparent !important;
			color: #095197 !important;
			text-decoration: underline;
		}
	}

	a.btn {
		text-decoration: none;
	}


	@import "fsj/image_containers.less";

	.table-borderless td,
	.table-borderless th {
		border: 0 !important;
		border-left: 0 !important;
	}

	.table-valign td,
	.table-valign th {
		vertical-align: middle;
	}
	.table-narrow 
    {
    	width: inherit;
    }
}