body div#fd.es.mod-es-register .quick-register {
  border-radius: 8px;
  border: 1px solid #d7d7d7;
  font-size: 11px;
  position: relative;
}
body div#fd.es.mod-es-register .quick-register .quick-register-splash {
  position: absolute;
  float: left;
  width: 55%;
  height: 100%;
  border-right: 1px solid #d7d7d7;
}
body div#fd.es.mod-es-register .quick-register .quick-register-splash .splash-image {
  border-radius: 8px 0 0 8px;
  background-size: cover;
  z-index: 1;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
body div#fd.es.mod-es-register .quick-register .quick-register-splash .splash-header {
  color: #fff;
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100%;
  text-align: center;
}
body div#fd.es.mod-es-register .quick-register .quick-register-splash .splash-header h2 {
  margin: 15px 0;
  opacity: 1;
  font-weight: 700;
  font-size: 36px;
  text-shadow: 0 0 3px #000;
}
body div#fd.es.mod-es-register .quick-register .quick-register-splash .splash-footer {
  width: 100%;
  border-radius: 0 0 0 8px;
  z-index: 1;
  position: absolute;
  bottom: 0;
  background: none repeat scroll 0 0 rgba(0,0,0,0.6);
  color: #fff;
  font-size: 12px;
  padding: 30px 15px;
}
body div#fd.es.mod-es-register .quick-register.has-splash .quick-register-form {
  width: 40%;
  min-width: 315px;
}
body div#fd.es.mod-es-register .quick-register .quick-register-form {
  width: 100%;
  float: right;
  text-align: center;
  padding: 0 30px;
  font-size: 11px;
}
body div#fd.es.mod-es-register .quick-register .quick-register-form .checkbox {
  text-align: left;
}
body div#fd.es.mod-es-register .quick-register .form-group {
  color: #666;
}
body div#fd.es.mod-es-register .quick-register .form-group .radio-inline {
  font-size: 11px;
}
body div#fd.es.mod-es-register .quick-register .form-group [data-field-joomla_fullname]:before,
body div#fd.es.mod-es-register .quick-register .form-group [data-field-joomla_fullname]:after {
  content: " ";
  display: table;
}
body div#fd.es.mod-es-register .quick-register .form-group [data-field-joomla_fullname]:after {
  clear: both;
}
body div#fd.es.mod-es-register .quick-register .form-group [data-field-joomla_fullname] .form-control {
  float: left;
}
body div#fd.es.mod-es-register .quick-register .form-group [data-field-joomla_fullname] .form-control + .form-control {
  float: right;
}
body div#fd.es.mod-es-register .quick-register .form-group [data-field-datetime] #fd.ui {
  text-align: center;
}
body div#fd.es.mod-es-register.w600 .quick-register .quick-register-splash {
  border-right: none;
  float: none;
  height: 100%;
  position: absolute;
  width: 100%;
}
body div#fd.es.mod-es-register.w600 .quick-register .quick-register-splash .splash-image {
  border-radius: 8px;
}
body div#fd.es.mod-es-register.w600 .quick-register .quick-register-splash .splash-header,
body div#fd.es.mod-es-register.w600 .quick-register .quick-register-splash .splash-footer {
  display: none;
}
body div#fd.es.mod-es-register.w600 .quick-register .quick-register-form {
  background: rgba(255,255,255,0.85);
  float: none;
  left: 50%;
  margin-left: -32%;
  margin: 10px 0 10px -32%;
  padding: 10px 20px;
  position: relative;
  width: 65%;
  z-index: 3;
  border-radius: 4px;
}
body div#fd.es.mod-es-register.w600 .quick-register .quick-register-form .form-group {
  background: transparent;
  border-radius: 4px;
}
body div#fd.es.mod-es-register.w600 .quick-register .form-control {
  width: 100% !important;
  float: none !important;
}
body div#fd.es.mod-es-register.w600 .quick-register .form-control + .form-control {
  margin-top: 15px;
}
body div#fd.es.mod-es-register.w320 .quick-register .quick-register-form {
  left: 0;
  margin: 0;
  width: 100%;
  min-width: 100% !important;
}
