body div#fd.es.mod-es-oauth .es-signin-social p {
  margin-top: 20px;
}
body div#fd.es.mod-es-oauth .es-signin-social .line {
  position: relative;
}
body div#fd.es.mod-es-oauth .es-signin-social .line:before {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 9px;
  height: 1px;
}
body div#fd.es.mod-es-oauth .es-signin-social .line strong {
  padding: 0 6px;
  position: relative;
  z-index: 2;
}
body div#fd.es.mod-es-oauth .es-signin-social .text-error,
body div#fd.es.mod-es-oauth .es-signin-social .text-error a {
  color: #B94A48;
}
body div#fd.es.mod-es-oauth .btn-login {
  margin-top: 10px;
}
