@import 'icon';
// Core variables and mixins
.body-innerwrapper {
  #sp-top-wrapper a {

  }
  .module h3 {

  }
  li.maximenuck > a img {
    width: 23px;
  }
  .mod_menu.menu-default {
    .menu-iem {
      a {
        display: inline-block;
        width: 100%;
        img.icon {
          width: 30px;
          float: left;
        }
        .title {
          float: left;
        }
      }

    }
  }
  ul, ol {
    list-style: none;
  }
  .img-responsive {
    max-width: 100%;
  }
  .img-responsive {
    display: block;
    max-width: 100%; // Set a maximum relative to the parent
    height: auto; // Scale the height according to the width, otherwise you get stretching
  }
  .hikashop_product_quantity_div input.hikashop_cart_input_button {
    color: #fff !important;
  }
  .ribbon {
    background-color: rgba(221, 60, 77, 0.95);
    background-image: -moz-linear-gradient(left center, #e75239 0%, #e75239 12.5%, #ff961c 12.5%, #ff961c 25%, #ffcc27 25%, #ffcc27 37.5%, #fce62f 37.5%, #fce62f 50%, #cde35b 50%, #cde35b 62.5%, #82cc33 62.5%, #82cc33 75%, #41bece 75%, #41bece 87.5%, #049cdb 87.5%, #049cdb 100%);
    background-position: 50% 0;
    bottom: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.063) inset;
    height: 0;
    left: 0;
    position: absolute;
    transition: background 0.5s ease 0s;
    width: 150%;
    z-index: 99999;
  }
  #sp-top-wrapper {
    background: #F9F9F9;
  }
}