@import 'icon';

// Core variables and mixins
.body-innerwrapper {
  #sp-top-wrapper a {

  }
  .module h3 {

  }
  li.maximenuck > a img {
    width: 23px;
  }
  .mod_menu.menu-default {
    .menu-iem {
      a {
        display: inline-block;
        width: 100%;
        img.icon {
          width: 30px;
          float: left;
        }
        .title {
          float: left;
        }
      }

    }
  }
  ul, ol {
    list-style: none;
  }

  .ribbon {
    background-color: rgba(221, 60, 77, 0.95);
    background-image: -moz-linear-gradient(left center, #e75239 0%, #e75239 12.5%, #ff961c 12.5%, #ff961c 25%, #ffcc27 25%, #ffcc27 37.5%, #fce62f 37.5%, #fce62f 50%, #cde35b 50%, #cde35b 62.5%, #82cc33 62.5%, #82cc33 75%, #41bece 75%, #41bece 87.5%, #049cdb 87.5%, #049cdb 100%);
    background-position: 50% 0;
    bottom: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.063) inset;
    height: 0;
    left: 0;
    position: absolute;
    transition: background 0.5s ease 0s;
    width: 150%;
    z-index: 99999;
  }
  #sp-top-wrapper {
    background: #F9F9F9;
  }
  #sp-bottom-wrapper {
    background: none !important;
  }
}
.img-responsive {
  max-width: 100%;
}
.img-responsive {
  display: block;
  max-width: 100%; // Set a maximum relative to the parent
  height: auto; // Scale the height according to the width, otherwise you get stretching
}

#sp-top-wrapper,
#sp-header-wrapper,
#sp-main-menu-wrapper,
#sp-link-follow-wrapper,
#sp-footer-wrapper {
  &.style-layout2 {
    background-color: transparent;
  }
}
#sp-banner-top-wrapper {
  &.style-layout2 {
    .container {
      background-color: #fff;
    }
  }
}
#sp-link-follow-wrapper {
  &.style-layout2 {
    .container {
      background-color: #f1f1f1;
    }
  }
}
#sp-footer-wrapper {
  &.style-layout2 {
    .container {
      background-color: #f0f2f3;
    }
  }
}

#sp-top_menu_left
{
  .hompagetopleftmenu
  {
    .level-0
    {
      margin: 0;
    }
  }
}
#sp-left_menu_category
{

}
.mod_menu.homeverticalmenu
{
  .level-0
  {
    margin: 0px;
  }
}
.mod_menu.hompagetopleftmenu
{
  .level-0
  {
    margin: 0px;
  }
}
.container
{
  width: 1200px;
}
h3
{
  font-size: medium;
}
a{

}
a:hover{
  text-decoration: none;
}
h1, h2, h3
{
  line-height: normal;
}
.nav-container-fix
{
  position: sticky;
  top: 0px;
  z-index: 9999;
}
#danh_muc_sp
{
  float: left;
  line-height: 20px;
  color: #999;
  padding: 5px;
  font-weight: bold;
}
#danh_muc_sp:hover,#danh_muc_sp.hover{
  background: #fff;
}
#danh_muc_sp_content_top
{
  position: absolute;
  top: 100%;
  display: none;
}
#main-body
{
  background: #fff;
}
#overlay_body {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 30px;
  transition: all 0.6s ease 0s;
  visibility: hidden;
  z-index: 21;
}
#sp-top-wrapper {
  z-index: 9999;

}
.header_bar_hover {


  #overlay_body {
    opacity: 0.6;
    visibility: visible;
  }
  #overlay_body {
    transition: all 0.6s ease 0.1s;
  }

  .header_content, #menu_link, #mega_menu, #mini_bar {
    transition: all 0s ease 0s;
    z-index: 3;
  }
}
.hikashop_product_price_full {
  width: 100%;
  .hikashop_product_discount {
    background: #f13340 none repeat scroll 0 0;
    border: 1px solid #d02a2c;
    color: #fff;
    display: inline-block;
    font: 600 21px/24px "Open Sans", sans-serif;
    padding: 0 5px 0 3px;
    margin-right: 5px;
  }
  .hikashop_product_price_before_discount {
    margin-right: 5px;
  }
  .hikashop_product_price {
    color: #c63829;
    font-family: Roboto-Medium, sans-serif;
    font-size: 18px;
    font-weight: 400 !important;
    margin-right: 5px;
  }
}
#hikamarket_product_edition_tab_1
{
  margin-top: 20px;
}
.hikashop_field_description,.hika_add_production_note,.hika_production_price_note,.hika_production_price_msrp
{
  padding: 5px;
  color: #ccc;
  font-style: italic;
}
dl.hikam_options > dt
{
  width: 200px;
}
dl.hikam_options > dd
{
  margin-left:230px;
}
.hika_production_main_information,.hika_production_seo,.hika_production_characteristics,.hika_production_price
{
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.items-leading
{
  .article-text
  {
    .item-image
    {
      width: 200px;
    }
  }
}
#become_vendor
{
  background: url("../images/HD-Business-Backgrounds-3.jpg") 115% -17% no-repeat !important; ;

  #main-body
  {
    background: none;
  }
}
.hikashop_product_price_per_unit
{
  display: none;
}
@keyframes placeHolderShimmer {
  0% {
    background-position: -999px 0
  }
  100% {
    background-position: 999px 0
  }
}

.animated-background {
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  width: 100%;
  display: block;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  position: relative;

}
