/* Icon category */
.icon_category{
  background: url("../images/beacon_category.png");
  display: inline-block;
  vertical-align: middle;
}
.icon_category_blue{
  background: url(../images/beacon_category_blue.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_cat_phone{
  background-position: -21px -6px;
  height: 28px;
  width: 19px;
}
.icon_cat_computer{
  background-position: -14px -48px;
  height: 25px;
  width: 32px;
}
.icon_cat_electronic{
  background-position: -14px -86px;
  height: 28px;
  width: 32px;
}
.icon_cat_camera{
  background-position: -15px -127px;
  height: 26px;
  width: 31px;
}
.icon_cat_car{
  background-position: -8px -168px;
  height: 24px;
  width: 44px;
}
.icon_cat_fashion{
  background-position: -18px -206px;
  height: 28px;
  width: 25px;
}
.icon_cat_bbmm{
  background-position: -12px -245px;
  height: 30px;
  width: 36px;
}
.icon_cat_health{
  background-position: -16px -285px;
  height: 30px;
  width: 28px;
}
.icon_cat_giadung{
  background-position: -16px -325px;
  height: 30px;
  width: 38px;
}
.icon_cat_noingoaithat{
  background-position: -19px -366px;
  height: 28px;
  width: 22px;
}
.icon_cat_book{
  background-position: -13px -406px;
  height: 28px;
  width: 34px;
}
.icon_cat_sport{
  background-position: -10px -447px;
  height: 26px;
  width: 41px;
}
.icon_cat_industry{
  background-position: -16px -486px;
  height: 28px;
  width: 28px;
}
.icon_cat_service{
  background-position: -14px -525px;
  height: 30px;
  width: 33px;
}
.icon_cat_food{
  background-position: -16px -567px;
  height: 27px;
  width: 29px;
}
.icon_cat_all{
  background-position: -12px -608px;
  height: 26px;
  width: 37px;
}

/* Icon Sprite 60 */
.icon_cat_v60_gray{
  background: url(../images/beacon_cat_gray_60.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_cat_v60_pink{
  background: url(../images/beacon_cat_pink_60.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_cat_v60_red{
  background: url(../images/beacon_cat_red_60.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_cat_v60_blue2{
  background: url(../images/beacon_cat_blue2_60.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_cat_v60_blue{
  background: url(../images/beacon_cat_blue_60.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_cat_v60_orange{
  background: url(../images/beacon_cat_orange_60.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_cat_v60_green{
  background: url(../images/beacon_cat_green_60.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_cat_v60_coban{
  background: url(../images/beacon_cat_coban_60.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_cat_v60_phone{
  background-position: -22px -9px;
  height: 23px;
  width: 17px;
}
.icon_cat_v60_computer{
  background-position: -16px -50px;
  height: 21px;
  width: 28px;
}
.icon_cat_v60_electronic{
  background-position: -17px -89px;
  height: 22px;
  width: 26px;
}
.icon_cat_v60_camera{
  background-position: -17px -129px;
  height: 23px;
  width: 27px;
}
.icon_cat_v60_car{
  background-position: -13px -169px;
  height: 22px;
  width: 34px;
}
.icon_cat_v60_fashion{
  background-position: -19px -209px;
  height: 23px;
  width: 23px;
}
.icon_cat_v60_bbmm{
  background-position: -16px -248px;
  height: 24px;
  width: 28px;
}
.icon_cat_v60_health{
  background-position: -19px -288px;
  height: 24px;
  width: 23px;
}
.icon_cat_v60_giadung{
  background-position: -19px -328px;
  height: 24px;
  width: 22px;
}
.icon_cat_v60_noingoaithat{
  background-position: -19px -369px;
  height: 23px;
  width: 22px;
}
.icon_cat_v60_book{
  background-position: -16px -409px;
  height: 23px;
  width: 28px;
}
.icon_cat_v60_sport{
  background-position: -12px -449px;
  height: 23px;
  width: 37px;
}
.icon_cat_v60_industry{
  background-position: -15px -487px;
  height: 25px;
  width: 30px;
}
.icon_cat_v60_service{
  background-position: -18px -527px;
  height: 26px;
  width: 24px;
}
.icon_cat_v60_food{
  background-position: -17px -568px;
  height: 23px;
  width: 26px;
}
.icon_cat_v60_all{
  background-position: -15px -609px;
  height: 23px;
  width: 30px;
}

/* Icon category root */
.icon_cat_root{
  background: url(../images/beacon_cat_root.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_cat_root_white{
  background: url(../images/beacon_cat_root_white.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_cat_root_km{
  background-position: -1px -1px;
  height: 18px;
  width: 17px;
}
.icon_cat_root_phone{
  background-position: -5px -23px;
  height: 15px;
  width: 10px;
}
.icon_cat_root_computer{
  background-position: -3px -45px;
  height: 11px;
  width: 13px;
}
.icon_cat_root_electronic{
  background-position: -3px -64px;
  height: 12px;
  width: 13px;
}
.icon_cat_root_camera{
  background-position: -3px -84px;
  height: 12px;
  width: 14px;
}
.icon_cat_root_car{
  background-position: -1px -104px;
  height: 12px;
  width: 18px;
}
.icon_cat_root_fashion{
  background-position: -3px -124px;
  height: 13px;
  width: 13px;
}
.icon_cat_root_bbmm{
  background-position: -1px -143px;
  height: 15px;
  width: 18px;
}
.icon_cat_root_health{
  background-position: -2px -162px;
  height: 16px;
  width: 17px;
}
.icon_cat_root_giadung{
  background-position: -2px -182px;
  height: 16px;
  width: 16px;
}
.icon_cat_root_noingoaithat{
  background-position: -3px -202px;
  height: 16px;
  width: 14px;
}
.icon_cat_root_book{
  background-position: -2px -223px;
  height: 13px;
  width: 16px;
}
.icon_cat_root_sport{
  background-position: -1px -243px;
  height: 14px;
  width: 18px;
}
.icon_cat_root_industry{
  background-position: -2px -264px;
  height: 13px;
  width: 16px;
}
.icon_cat_root_service{
  background-position: -2px -281px;
  height: 18px;
  width: 16px;
}
.icon_cat_root_food{
  background-position: -1px -302px;
  height: 16px;
  width: 18px;
}

/* Icon Sprite 20 */
.icon_vg20{
  background: url(../images/beacon_20.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_vg20_refresh{
  background-position: -1px -321px;
  height: 18px;
  width: 19px;
}
.icon_vg20_pament{
  background-position: -1px -340px;
  height: 20px;
  width: 18px;
}
.icon_vg20_one_click{
  background-position: -2px -360px;
  height: 20px;
  width: 16px;
}
.icon_vg20_shield{
  background-position: 0px -382px;
  height: 17px;
  width: 20px;
}
.icon_vg20_rank{
  background-position: 0px -403px;
  height: 14px;
  width: 20px;
}
.icon_vg20_rank_gray{
  background-position: 0px -423px;
  height: 14px;
  width: 20px;
}
.icon_vg20_hot{
  background-position: 0px -442px;
  height: 16px;
  width: 20px;
}
.icon_vg20_suggest{
  background-position: -4px -464px;
  height: 13px;
  width: 13px;
}
.icon_vg20_chat{
  background-position: 0px -484px;
  height: 13px;
  width: 20px;
}
.icon_vg20_handbook{
  background-position: -4px -503px;
  height: 14px;
  width: 12px;
}

/* Icon Deal 20 Root */
.icon_deal_root{
  background: url(../images/beacon_deal_root.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_deal_root_white{
  background: url(../images/beacon_deal_root_white.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_deal_food{
  background-position: -2px -3px;
  height: 15px;
  width: 16px;
}
.icon_deal_spa{
  background-position: -3px -21px;
  height: 18px;
  width: 15px;
}
.icon_deal_travel{
  background-position: 0 -41px;
  height: 19px;
  width: 19px;
}
.icon_deal_micro{
  background-position: -1px -62px;
  height: 16px;
  width: 19px;
}
.icon_deal_book{
  background-position: -1px -83px;
  height: 14px;
  width: 18px;
}

/* Icon Sprite 40 */
.icon_vg40{
  background: url(../images/beacon_40.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_vg40_control_left{
  background-position: -5px -5px;
  height: 50px;
  width: 31px;
}
.icon_vg40_control_right{
  background-position: -5px -65px;
  height: 50px;
  width: 31px;
}
.icon_vg40_diadem{
  background-position: -8px -130px;
  height: 20px;
  width: 24px;
}
.icon_vg40_diadem_grey{
  background-position: -8px -170px;
  height: 20px;
  width: 24px;
}
.icon_vg40_like{
  background-position: -7px -208px;
  height: 24px;
  width: 26px;
}
.icon_vg40_cart{
  background-position: -3px -247px;
  height: 26px;
  width: 35px;
}
.icon_vg40_show{
  background-position: -5px -288px;
  height: 25px;
  width: 30px;
}

/* Icon Sprite 80 */
.icon_vg80{
  background: url(../images/beacon_80.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_vg80_qr{
  background-position: 0px 0px;
  height: 80px;
  width: 80px;
}
.icon_vg80_app_ios {
  background-position: 0px -83px;
  height: 25px;
  width: 80px;
}
.icon_vg80_app_android {
  background-position: 0px -112px;
  height: 25px;
  width: 80px;
}
.icon_vg80_dog_sad {
  background-position: 0px -158px;
  height: 82px;
  width: 74px;
}