/* Icon category */
.icon_category{
  background: url("../images/beacon_category.png");
  display: inline-block;
  vertical-align: middle;
}
.icon_category_blue{
  background: url(../images/beacon_category_blue.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_cat_phone{
  background-position: -21px -6px;
  height: 28px;
  width: 19px;
}
.icon_cat_computer{
  background-position: -14px -48px;
  height: 25px;
  width: 32px;
}
.icon_cat_electronic{
  background-position: -14px -86px;
  height: 28px;
  width: 32px;
}
.icon_cat_camera{
  background-position: -15px -127px;
  height: 26px;
  width: 31px;
}
.icon_cat_car{
  background-position: -8px -168px;
  height: 24px;
  width: 44px;
}
.icon_cat_fashion{
  background-position: -18px -206px;
  height: 28px;
  width: 25px;
}
.icon_cat_bbmm{
  background-position: -12px -245px;
  height: 30px;
  width: 36px;
}
.icon_cat_health{
  background-position: -16px -285px;
  height: 30px;
  width: 28px;
}
.icon_cat_giadung{
  background-position: -16px -325px;
  height: 30px;
  width: 38px;
}
.icon_cat_noingoaithat{
  background-position: -19px -366px;
  height: 28px;
  width: 22px;
}
.icon_cat_book{
  background-position: -13px -406px;
  height: 28px;
  width: 34px;
}
.icon_cat_sport{
  background-position: -10px -447px;
  height: 26px;
  width: 41px;
}
.icon_cat_industry{
  background-position: -16px -486px;
  height: 28px;
  width: 28px;
}
.icon_cat_service{
  background-position: -14px -525px;
  height: 30px;
  width: 33px;
}
.icon_cat_food{
  background-position: -16px -567px;
  height: 27px;
  width: 29px;
}
.icon_cat_all{
  background-position: -12px -608px;
  height: 26px;
  width: 37px;
}

/* Icon Sprite 60 */
.icon_cat_v60_gray{
  background: url(../images/beacon_cat_gray_60.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_cat_v60_pink{
  background: url(../images/beacon_cat_pink_60.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_cat_v60_red{
  background: url(../images/beacon_cat_red_60.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_cat_v60_blue2{
  background: url(../images/beacon_cat_blue2_60.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_cat_v60_blue{
  background: url(../images/beacon_cat_blue_60.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_cat_v60_orange{
  background: url(../images/beacon_cat_orange_60.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_cat_v60_green{
  background: url(../images/beacon_cat_green_60.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_cat_v60_coban{
  background: url(../images/beacon_cat_coban_60.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_cat_v60_phone{
  background-position: -22px -9px;
  height: 23px;
  width: 17px;
}
.icon_cat_v60_computer{
  background-position: -16px -50px;
  height: 21px;
  width: 28px;
}
.icon_cat_v60_electronic{
  background-position: -17px -89px;
  height: 22px;
  width: 26px;
}
.icon_cat_v60_camera{
  background-position: -17px -129px;
  height: 23px;
  width: 27px;
}
.icon_cat_v60_car{
  background-position: -13px -169px;
  height: 22px;
  width: 34px;
}
.icon_cat_v60_fashion{
  background-position: -19px -209px;
  height: 23px;
  width: 23px;
}
.icon_cat_v60_bbmm{
  background-position: -16px -248px;
  height: 24px;
  width: 28px;
}
.icon_cat_v60_health{
  background-position: -19px -288px;
  height: 24px;
  width: 23px;
}
.icon_cat_v60_giadung{
  background-position: -19px -328px;
  height: 24px;
  width: 22px;
}
.icon_cat_v60_noingoaithat{
  background-position: -19px -369px;
  height: 23px;
  width: 22px;
}
.icon_cat_v60_book{
  background-position: -16px -409px;
  height: 23px;
  width: 28px;
}
.icon_cat_v60_sport{
  background-position: -12px -449px;
  height: 23px;
  width: 37px;
}
.icon_cat_v60_industry{
  background-position: -15px -487px;
  height: 25px;
  width: 30px;
}
.icon_cat_v60_service{
  background-position: -18px -527px;
  height: 26px;
  width: 24px;
}
.icon_cat_v60_food{
  background-position: -17px -568px;
  height: 23px;
  width: 26px;
}
.icon_cat_v60_all{
  background-position: -15px -609px;
  height: 23px;
  width: 30px;
}

/* Icon category root */
.icon_cat_root{
  background: url(../images/beacon_cat_root.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_cat_root_white{
  background: url(../images/beacon_cat_root_white.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_cat_root_km{
  background-position: -1px -1px;
  height: 18px;
  width: 17px;
}
.icon_cat_root_phone{
  background-position: -5px -23px;
  height: 15px;
  width: 10px;
}
.icon_cat_root_computer{
  background-position: -3px -45px;
  height: 11px;
  width: 13px;
}
.icon_cat_root_electronic{
  background-position: -3px -64px;
  height: 12px;
  width: 13px;
}
.icon_cat_root_camera{
  background-position: -3px -84px;
  height: 12px;
  width: 14px;
}
.icon_cat_root_car{
  background-position: -1px -104px;
  height: 12px;
  width: 18px;
}
.icon_cat_root_fashion{
  background-position: -3px -124px;
  height: 13px;
  width: 13px;
}
.icon_cat_root_bbmm{
  background-position: -1px -143px;
  height: 15px;
  width: 18px;
}
.icon_cat_root_health{
  background-position: -2px -162px;
  height: 16px;
  width: 17px;
}
.icon_cat_root_giadung{
  background-position: -2px -182px;
  height: 16px;
  width: 16px;
}
.icon_cat_root_noingoaithat{
  background-position: -3px -202px;
  height: 16px;
  width: 14px;
}
.icon_cat_root_book{
  background-position: -2px -223px;
  height: 13px;
  width: 16px;
}
.icon_cat_root_sport{
  background-position: -1px -243px;
  height: 14px;
  width: 18px;
}
.icon_cat_root_industry{
  background-position: -2px -264px;
  height: 13px;
  width: 16px;
}
.icon_cat_root_service{
  background-position: -2px -281px;
  height: 18px;
  width: 16px;
}
.icon_cat_root_food{
  background-position: -1px -302px;
  height: 16px;
  width: 18px;
}

/* Icon Sprite 20 */
.icon_vg20{
  background: url(../images/beacon_20.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_vg20_refresh{
  background-position: -1px -321px;
  height: 18px;
  width: 19px;
}
.icon_vg20_pament{
  background-position: -1px -340px;
  height: 20px;
  width: 18px;
}
.icon_vg20_one_click{
  background-position: -2px -360px;
  height: 20px;
  width: 16px;
}
.icon_vg20_shield{
  background-position: 0px -382px;
  height: 17px;
  width: 20px;
}
.icon_vg20_rank{
  background-position: 0px -403px;
  height: 14px;
  width: 20px;
}
.icon_vg20_rank_gray{
  background-position: 0px -423px;
  height: 14px;
  width: 20px;
}
.icon_vg20_hot{
  background-position: 0px -442px;
  height: 16px;
  width: 20px;
}
.icon_vg20_suggest{
  background-position: -4px -464px;
  height: 13px;
  width: 13px;
}
.icon_vg20_chat{
  background-position: 0px -484px;
  height: 13px;
  width: 20px;
}
.icon_vg20_handbook{
  background-position: -4px -503px;
  height: 14px;
  width: 12px;
}

/* Icon Deal 20 Root */
.icon_deal_root{
  background: url(../images/beacon_deal_root.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_deal_root_white{
  background: url(../images/beacon_deal_root_white.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_deal_food{
  background-position: -2px -3px;
  height: 15px;
  width: 16px;
}
.icon_deal_spa{
  background-position: -3px -21px;
  height: 18px;
  width: 15px;
}
.icon_deal_travel{
  background-position: 0 -41px;
  height: 19px;
  width: 19px;
}
.icon_deal_micro{
  background-position: -1px -62px;
  height: 16px;
  width: 19px;
}
.icon_deal_book{
  background-position: -1px -83px;
  height: 14px;
  width: 18px;
}

/* Icon Sprite 40 */
.icon_vg40{
  background: url(../images/beacon_40.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_vg40_control_left{
  background-position: -5px -5px;
  height: 50px;
  width: 31px;
}
.icon_vg40_control_right{
  background-position: -5px -65px;
  height: 50px;
  width: 31px;
}
.icon_vg40_diadem{
  background-position: -8px -130px;
  height: 20px;
  width: 24px;
}
.icon_vg40_diadem_grey{
  background-position: -8px -170px;
  height: 20px;
  width: 24px;
}
.icon_vg40_like{
  background-position: -7px -208px;
  height: 24px;
  width: 26px;
}
.icon_vg40_cart{
  background-position: -3px -247px;
  height: 26px;
  width: 35px;
}
.icon_vg40_show{
  background-position: -5px -288px;
  height: 25px;
  width: 30px;
}

/* Icon Sprite 80 */
.icon_vg80{
  background: url(../images/beacon_80.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_vg80_qr{
  background-position: 0px 0px;
  height: 80px;
  width: 80px;
}
.icon_vg80_app_ios {
  background-position: 0px -83px;
  height: 25px;
  width: 80px;
}
.icon_vg80_app_android {
  background-position: 0px -112px;
  height: 25px;
  width: 80px;
}
.icon_vg80_dog_sad {
  background-position: 0px -158px;
  height: 82px;
  width: 74px;
}
/* Icon All */
.icon_sprite{
  background: url(../images/beacon_sprite.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
}
.icon_sprite_help_blue{
  background-position: 0 -30px;
  height: 14px;
  width: 14px;
}
.icon_sprite_help_gray{
  background-position: -31px -1622px;
  height: 13px;
  width: 13px;
}
.icon_sprite_notify{
  background-position: 0 -150px;
  height: 14px;
  width: 14px;
}
.icon_sprite_post{
  background-position: 0 -120px;
  height: 14px;
  width: 14px;
}
.icon_sprite_register{
  background-position: 0 -61px;
  height: 12px;
  width: 14px;
}
.icon_sprite_login{
  background-position: 0 -91px;
  height: 12px;
  width: 14px;
}
.icon_sprite_eye{
  background-position: 0 -601px;
  height: 13px;
  width: 14px;
}
.icon_sprite_comment{
  background-position: 0 -630px;
  height: 12px;
  width: 14px;
}
.icon_sprite_cart{
  background-position: 0 -660px;
  height: 14px;
  width: 14px;
}
.icon_sprite_arrow{
  background-position: 0 -750px;
  height: 5px;
  width: 9px;
}
.icon_sprite_arrow_up{
  background-position: -35px -750px;
  height: 5px;
  width: 9px;
}
.icon_sprite_up_top {
  background-position: 0px -840px;
  width: 7px;
  height: 9px;
}
.icon_sprite_sad{
  background-position: 0px -1170px;
  width: 40px;
  height: 40px;

}
.icon_sprite_check_orange{
  background-position: 0 -1530px;
  height: 13px;
  width: 13px;
}
.icon_sprite_arrow_left{
  background-position: 0 -1560px;
  height: 11px;
  width: 7px;
}
.icon_sprite_arrow_right{
  background-position: -35px -1560px;
  height: 11px;
  width: 7px;
}
.icon_sprite_rate_good{
  background-position: 0 -1590px;
  height: 16px;
  width: 16px;
}
.icon_sprite_rate_normal{
  background-position: -17px -1590px;
  height: 16px;
  width: 16px;
}
.icon_sprite_rate_bad{
  background-position: -34px -1590px;
  height: 16px;
  width: 16px;
}
.icon_sprite_e_voucher{
  background-position: -60px -2947px;
  height: 12px;
  width: 10px;
}
.icon_like_large{
  background-position: 0 -2190px;
  height: 30px;
  width: 35px;
}
.icon_like_large:hover{
  background-position: 0 -2220px;
}
.icon_liked_large{
  background-position: 0 -2250px;
  height: 30px;
  width: 35px;
}
.icon_like{
  background-position: -8px -2288px;
  height: 16px;
  width: 18px;
}
.icon_liked{
  background-position: -8px -2348px;
  height: 16px;
  width: 18px;
}
.icon_like_medium{
  background-position: -42px -2286px;
  height: 24px;
  width: 26px;
}
.icon_liked_medium{
  background-position: -42px -2316px;
  height: 24px;
  width: 26px;
}
.icon_liked_white{
  background-position: -43px -2348px;
  height: 16px;
  width: 18px;
}
.icon_check_green{
  background-position: 0 -2370px;
  height: 8px;
  width: 9px;
}
.icon_sprite_cart_orange{
  background-position: 0 -2400px;
  height: 16px;
  width: 15px;
}
.icon_sprite_circle_success{
  background-position: 0 -2430px;
  height: 16px;
  width: 15px;
}
.icon_sprite_circle_error{
  background-position: 0 -2460px;
  height: 16px;
  width: 15px;
}
.icon_sprite_carousel_prev{
  background-position: 0 -2490px;
  height: 30px;
  width: 18px;
}
.icon_sprite_carousel_next{
  background-position: -35px -2490px;
  height: 30px;
  width: 18px;
}
.icon_sprite_pencil_blue{
  background-position: 0 -2520px;
  height: 10px;
  width: 10px;
}
.icon_sprite_arrow_up_1{
  background-position: 0 -2550px;
  height: 7px;
  width: 11px;
}
.icon_sprite_arrow_down_1{
  background-position: -35px -2550px;
  height: 7px;
  width: 11px;
}
.icon_sprite_chart_blue{
  background-position: 0 -2580px;
  height: 14px;
  width: 14px;
}
.icon_sprite_like{
  background-position: 0 -2610px;
  height: 14px;
  width: 14px;
}
.icon_sprite_dislike{
  background-position: -35px -2610px;
  height: 14px;
  width: 14px;
}
.icon_sprite_add_blue{
  background-position: 0 -2700px;
  height: 15px;
  width: 15px;
}
.icon_sprite_estore_blue{
  background-position: 0 -2730px;
  height: 15px;
  width: 15px;
}
.icon_sprite_imei_green{
  background-position: 0 -2760px;
  height: 18px;
  width: 18px;
}
.icon_sprite_calendar_green_large{
  background-position: 0px -2790px;
  height: 30px;
  width: 30px;
}
.icon_sprite_carship_green_large{
  background-position: 0px -2820px;
  height: 30px;
  width: 30px;
}
.icon_sprite_refund_green_large{
  background-position: 0px -2850px;
  height: 30px;
  width: 30px;
}
.icon_sprite_circle_green_large{
  background-position: 0px -2880px;
  height: 30px;
  width: 30px;
}
.icon_sprite_phone_blue{
  background-position: 0 -2910px;
  height: 14px;
  width: 9px;
}
.icon_sprite_phone_white{
  background-position: -35px -2910px;
  height: 14px;
  width: 9px;
}
.icon_sprite_carship_gray{
  background-position: 0 -3030px;
  height: 10px;
  width: 17px;
}
.icon_sprite_circle_green{
  background-position: 0 -3060px;
  height: 14px;
  width: 14px;
}
.icon_sprite_refund_green{
  background-position: 0 -3090px;
  height: 14px;
  width: 14px;
}
.icon_sprite_carship_green{
  background-position: 0 -3120px;
  height: 14px;
  width: 18px;
}
.icon_sprite_calendar_green{
  background-position: 0 -3150px;
  height: 14px;
  width: 14px;
}
.icon_sprite_auction_orange{
  background-position: -4px -3211px;
  height: 28px;
  width: 27px;
}
.icon_sprite_share_facebook{
  background-position: -2px -3240px;
  height: 30px;
  width: 30px;
}
.icon_sprite_share_facebook_active, .icon_sprite_share_facebook:hover{
  background-position: -37px -3240px;
  height: 30px;
  width: 30px;
}
.icon_sprite_share_twitter{
  background-position: -2px -3270px;
  height: 30px;
  width: 30px;
}
.icon_sprite_share_twitter_active, .icon_sprite_share_twitter:hover{
  background-position: -37px -3270px;
  height: 30px;
  width: 30px;
}
.icon_sprite_share_google{
  background-position: -2px -3300px;
  height: 30px;
  width: 30px;
}
.icon_sprite_share_google_active, .icon_sprite_share_google:hover{
  background-position: -37px -3300px;
  height: 30px;
  width: 30px;
}
.icon_sprite_share_pinterest{
  background-position: -2px -3330px;
  height: 30px;
  width: 30px;
}
.icon_sprite_share_pinterest_active, .icon_sprite_share_pinterest:hover{
  background-position: -37px -3330px;
  height: 30px;
  width: 30px;
}
.icon_sprite_tags{
  background-position: -12px -3580px;
  height: 14px;
  width: 11px;
}
.icon_sprite_delete{
  background-position: -11px -3607px;
  height: 17px;
  width: 13px;
}
.icon_sprite_idvg{
  background-position: -8px -3638px;
  height: 15px;
  width: 55px;
}
.icon_sprite_floginname{
  background-position: -11px -3668px;
  height: 14px;
  width: 14px;
}
.icon_sprite_fpassword{
  background-position: -11px -3698px;
  height: 14px;
  width: 14px;
}
.icon_sprite_double_arrow{
  background-position: -14px -3730px;
  height: 10px;
  width: 8px;
}
.icon_sprite_call{
  background-position: -6px -3754px;
  height: 22px;
  width: 22px;
}
.icon_sprite_ssg_100{
  background-position: 0px -3930px;
  height: 41px;
  width: 34px;
}
.icon_sprite_ssg_1h{
  background-position: 0px -3990px;
  height: 36px;
  width: 32px;
}
.icon_sprite_ssg_money{
  background-position: 0px -4050px;
  height: 32px;
  width: 32px;
}
.icon_sprite_arrow_right1{
  background-position: -9px -4118px;
  height: 14px;
  width: 18px;
}
.icon_sprite_description{
  background-position: -10px -4146px;
  height: 19px;
  width: 16px;
}
.icon_sprite_description.active{
  background-position: -45px -4146px;
  height: 19px;
  width: 16px;
}
.icon_sprite_star{
  background-position: -8px -4176px;
  height: 18px;
  width: 19px;
}
.icon_sprite_star.active{
  background-position: -43px -4176px;
  height: 18px;
  width: 19px;
}
.icon_sprite_reply{
  background-position: -8px -4208px;
  height: 15px;
  width: 20px;
}
.icon_sprite_reply.active{
  background-position: -43px -4208px;
  height: 15px;
  width: 20px;
}
.icon_sprite_clock{
  background-position: 0px -4290px;
  height: 16px;
  width: 16px;
}
.icon_sprite_lamp{
  background-position: 0px -4314px;
  height: 22px;
  width: 20px;
}
.icon_sprite_trend{
  background-position: 0px -4344px;
  height: 16px;
  width: 17px;
}


/* Beacon Control */
.beacon_control{
  background: url(../images/beacon_control.png);
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: middle;
}
.beacon_control_edit{
  background-position: 0px 0px;
}
.beacon_control_empty{
  background-position: 0px -30px;
}
.beacon_control_up{
  background-position: 2px -59px;
}
.beacon_control_up_now{
  background-position: 0px -90px;
}
.beacon_control_list{
  background-position: 0px -119px;
}
.beacon_control_add{
  background-position: 3px -148px;
}
.beacon_control_refresh{
  background-position: 0px -180px;
}
.icon_appdl_main{
  background: url(../images/beacon_appdl.png);
  display: inline-block;
  vertical-align: middle;
}
.icon_appdl_qrcode{
  background-position: 0 0;
  height: 100px;
  width: 100px;
}
.icon_appdl_android{
  background-position: 0 -105px;
  height: 37px;
  width: 122px;
}
.icon_appdl_ios{
  background-position: 0 -147px;
  height: 37px;
  width: 122px;
}
.icon_appdl_dog_qrcode{
  background-position: 0 -338px;
  height: 232px;
  width: 194px;
}
.icon_appdl_qrcode_small{
  background-position: 0 -244px;
  height: 85px;
  width: 85px;
}
.icon_appdl_android_small{
  background-position: -88px -244px;
  height: 26px;
  width: 85px;
}
.icon_appdl_ios_small{
  background-position: -88px -275px;
  height: 26px;
  width: 85px;
}
.icon_appdl_promotion{
  background-position: 0 -189px;
  height: 60px;
  width: 175px;
}