##
# @package    Joomla
# @copyright  Copyright (C) 2005 - 2016 Open Source Matters. All rights reserved.
# @license    GNU General Public License version 2 or later; see LICENSE.txt
##

##
# READ THIS COMPLETELY IF YOU CHOOSE TO USE THIS FILE!
#
# The line 'Options +FollowSymLinks' may cause problems with some server configurations.
# It is required for the use of mod_rewrite, but it may have already been set by your
# server administrator in a way that disallows changing it in this .htaccess file.
# If using it causes your site to produce an error, comment it out (add # to the
# beginning of the line), reload your site in your browser and test your sef urls. If
# they work, then it has been set by your server administrator and you do not need to
# set it here.
##

## No directory listings


## Mod_rewrite in use.

RewriteEngine On

RewriteCond %HTTP_USER_AGENT ^BadBot [OR]
RewriteCond %HTTP_USER_AGENT ^googlebot [OR]
RewriteCond %HTTP_USER_AGENT Googlebot [OR]
RewriteCond %HTTP_USER_AGENT "Googlebot-Image" [OR]
RewriteCond %HTTP_USER_AGENT bingbot [OR]
RewriteCond %HTTP_USER_AGENT "Yahoo! Slurp" [OR]
RewriteCond %HTTP_USER_AGENT ^YandexBot [OR]
RewriteCond %HTTP_USER_AGENT ^coccoc [OR]
RewriteCond %HTTP_USER_AGENT coccocbot [OR]
RewriteCond %HTTP_USER_AGENT "coccocbot-web" [OR]
RewriteCond %HTTP_USER_AGENT "coccocbot-image" [OR]
RewriteCond %HTTP_USER_AGENT YandexWebmaster [OR]
RewriteCond %HTTP_USER_AGENT ^EvilScraper [OR]
RewriteCond %HTTP_USER_AGENT ^AhrefsBot [OR]
RewriteCond %HTTP_USER_AGENT ^FakeUser
RewriteRule ^(.*)$ http://google.com/


Order Deny,Allow
Deny from 141.8.184.107