@datetimepicker-color: @fd-ui-text-color; 
@datetimepicker-bg: @fd-ui-bg;
@datetimepicker-border: @fd-ui-border-color;

@datetimepicker-arrow: @fd-ui-bg;

@datetimepicker-td-active-color: @fd-ui-bg;
@datetimepicker-td-active-bg: @fd-ui-bg--active; // btn primary

@datetimepicker-hover-bg: @fd-ui-shade;
