.mod_wishlist
{
  .group_like_cart{
    position: relative;
    float: right;
    line-height: 38px;
    z-index: 999;
    padding: 5px;
  }
  .group_like_cart:hover,.group_like_cart.hover{
    background-color: #fff;
  }

  .header_like{
    padding-right: 30px;
  }
  .group_like_cart .header_cart{
    padding: 0 30px;
  }
  .group_like_cart span{
    color: #000;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    text-transform: uppercase;
    padding-left: 5px;
    max-width: 35px;
    vertical-align: middle;
  }
  .group_like_cart .header_like .notify{
    background: #F44F00;
    border-radius: 3px;
    color: #FFF;
    height: 25px;
    line-height: 25px;
    left: 75px;
    position: absolute;
    top: 7px;
    text-align: center;
    width: 25px;
  }
  .group_like_cart .header_cart .notify{
    background: #F44F00;
    border-radius: 3px;
    color: #FFF;
    height: 25px;
    line-height: 25px;
    right: 50px;
    position: absolute;
    top: 7px;
    text-align: center;
    width: 25px;
  }
  .group_like_cart .notify:after{
    border: solid 6px transparent;
    border-right: solid 6px #F44F00;
    content: " ";
    left: -11px;
    position: absolute;
    top: 6px;
  }
  .wrapper-wishlist
  {
    position: absolute;
    background-color: #fff;
    border-radius: 0px;
    margin: 0 0 20px;
    padding: 8px 15px;
    z-index: 999999;
    right: 0;
    width: 220px;
    top: 100%;
    display: none;
  }
}