@keyframes suntory-alo-circle-anim {
  0% {
    opacity: .1;
    transform: rotate(0) scale(0.5) skew(1deg);
  }
  30% {
    opacity: .5;
    transform: rotate(0) scale(0.7) skew(1deg);
  }
  100% {
    opacity: .6;
    transform: rotate(0) scale(1) skew(1deg);
  }
}
@keyframes suntory-alo-circle-img-anim {
  0%,
  100%,
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10%,
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20%,
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
}
@keyframes suntory-alo-circle-fill-anim {
  0%,
  100% {
    opacity: .2;
    transform: rotate(0) scale(0.7) skew(1deg);
  }
  50% {
    opacity: .2;
    transform: rotate(0) scale(1) skew(1deg);
  }
}
@keyframes suntory-alo-ring-ring {
  0%,
  100%,
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10%,
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20%,
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
}
.alo-phone .suntory-alo-phone {
  background-color: transparent;
  cursor: pointer;
  height: 100px;
  position: fixed;
  transition: visibility .5s ease 0s;
  width: 100px;
  z-index: 200000 !important;
}
.alo-phone .suntory-alo-ph-circle,
.alo-phone .suntory-alo-ph-circle-fill {
  transition: all .5s ease 0s;
  position: absolute;
  transform-origin: 50% 50% 0;
}
.alo-phone .suntory-alo-ph-circle {
  animation: 1.2s ease-in-out 0s normal none infinite running suntory-alo-circle-anim;
  background-color: transparent;
  border: 2px solid rgba(30, 30, 30, 0.4);
  border-radius: 100%;
  height: 100px;
  left: 5px;
  opacity: .1;
  top: 5px;
  width: 100px;
}
.alo-phone .suntory-alo-ph-circle-fill {
  animation: 2.3s ease-in-out 0s normal none infinite running suntory-alo-circle-fill-anim;
  border: 2px solid transparent;
  border-radius: 100%;
  height: 80px;
  left: 15px;
  top: 15px;
  width: 80px;
}
.alo-phone .suntory-alo-ph-img-circle {
  border: 2px solid transparent;
  border-radius: 100%;
  height: 60px;
  left: 25px;
  opacity: .7;
  position: absolute;
  top: 24px;
  transform-origin: 50% 50% 0;
  width: 60px;
}
.alo-phone .suntory-alo-phone.suntory-alo-hover,
.alo-phone .suntory-alo-phone:hover {
  opacity: 1;
}
.alo-phone .suntory-alo-phone.suntory-alo-active .suntory-alo-ph-circle {
  animation: 1.1s ease-in-out 0s normal none infinite running suntory-alo-circle-anim !important;
}
.alo-phone .suntory-alo-phone.suntory-alo-static .suntory-alo-ph-circle {
  animation: 2.2s ease-in-out 0s normal none infinite running suntory-alo-circle-anim !important;
}
.alo-phone .suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-circle,
.alo-phone .suntory-alo-phone:hover .suntory-alo-ph-circle {
  border-color: #00aff2;
  opacity: .5;
}
.alo-phone .suntory-alo-phone.suntory-alo-green.suntory-alo-hover .suntory-alo-ph-circle,
.alo-phone .suntory-alo-phone.suntory-alo-green:hover .suntory-alo-ph-circle {
  border-color: #eb278d;
  opacity: 1;
}
.alo-phone .suntory-alo-phone.suntory-alo-green .suntory-alo-ph-circle {
  border-color: #bfebfc;
  opacity: 1;
}
.alo-phone .suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-circle-fill,
.alo-phone .suntory-alo-phone:hover .suntory-alo-ph-circle-fill {
  background-color: rgba(0, 175, 242, 0.9);
}
.alo-phone .suntory-alo-phone.suntory-alo-green.suntory-alo-hover .suntory-alo-ph-circle-fill,
.alo-phone .suntory-alo-phone.suntory-alo-green:hover .suntory-alo-ph-circle-fill {
  background-color: #eb278d;
}
.alo-phone .suntory-alo-phone.suntory-alo-green .suntory-alo-ph-circle-fill {
  background-color: rgba(0, 175, 242, 0.9);
}
.alo-phone .suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-img-circle,
.alo-phone .suntory-alo-phone:hover .suntory-alo-ph-img-circle {
  background-color: #00aff2;
}
.alo-phone .suntory-alo-phone.suntory-alo-green.suntory-alo-hover .suntory-alo-ph-img-circle,
.alo-phone .suntory-alo-phone.suntory-alo-green:hover .suntory-alo-ph-img-circle {
  background-color: #eb278d;
}
.alo-phone .suntory-alo-phone.suntory-alo-green .suntory-alo-ph-img-circle {
  background-color: #00aff2;
}
.alo-phone .suntory-alo-ph-img-circle i {
  animation: 1s ease-in-out 0s normal none infinite running suntory-alo-circle-img-anim;
  font-size: 20px;
  line-height: 40px;
  padding-left: 10px;
  color: #fff;
}
