/*------------------------------------*\
	$headers.less
\*------------------------------------*/
.discuss-headers-wrapper {
	background: #363636;
	color: @white;
	padding: 0 0 20px;
	position: relative;
	margin-bottom: 10px;
	.border-radius(0 0 10px 10px);

	border: 1px solid #ccc;
	border-top: none;
	.discuss-site-title {
		color: @white;
		padding: 0;
		margin: 20px 0 0 40px;
	}
	.discuss-site-desp {
		margin: 10px 0 0 40px;
		color: #ccc;
	}
	.btn-ask {
		.border-radius(24px);
		position: absolute;
		bottom: 20px;
		right: 20px;
		font-size: 14px;
		font-weight: bold;

		.buttonBackground(#93cfd7, #71b1ba, @white, 0 1px 1px rgba(0,0,0,.25));
		border-color: #333 #333 #282828;
	}
}
