/*------------------------------------*\
	$nav-extend.less
\*------------------------------------*/
// Give the tabs something to sit on
.nav-tabs {
  border-bottom: 1px solid #333;
}

.nav-tabs > li > a {
  &:hover {
    border-color: @grayLighter @grayLighter #333;
  }
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  border-color: @grayLighter @grayLighter transparent;
}
// .tab-box { //wrap tabbable for background color
// 	.nav-tabs {
// 		background: #123;
// 		#gradient > .vertical(@discussTabBoxBackground, @discussTabBoxBackgroundHighlight);
// 	}
// }

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
    background-color: #ccc;
}


.discuss-toolbar .nav-collapse .discuss-notice-menu .btn {
	text-shadow: none;
	color: #fff;
}
