/*------------------------------------*\
	$quickfix.less
\*------------------------------------*/
&.discuss-view-profile .discuss-profile-right,
.discuss-user .discuss-user-rank {
    color: inherit;
}

.dc-pagination ul > .active > a,
.dc-pagination ul > .active > span,
.dc-pagination ul > li > a,
.discuss-likes .btn-likes,
.discuss-likes .btn-likes:hover {
	color: #fff;
}


.markItUpEditor {
	border: 1px solid #333;
}
.markItUpHeader ul .markItUpSeparator {
	background-color: #333;
}
.markItUpButton a {
	background-color: #222;
}

.discuss-assigned-stats .discuss-stat-items .discuss-stat-item .discuss-stat-title {
	color: #f5f5f5;

}
