.markItUp * {
  margin: 0px;
  padding: 0px;
  outline: none;
}
.markItUp a:link,
.markItUp a:visited {
  color: #000;
  text-decoration: none;
}
.markItUp {
  width: 700px;
  margin: 5px 0 5px 0;
  border: 5px solid #F5F5F5;
}
.markItUpContainer {
  background: #f5f5f5;
  border: 1px solid #ddd;
  padding: 0 5px;
  font: inherit;
}
.markItUpPreviewFrame {
  overflow: auto;
  background-color: #FFFFFF;
  border: 1px solid #3C769D;
  width: 99.9%;
  height: 300px;
  margin: 5px 0;
}
.markItUpFooter {
  width: 100%;
  cursor: n-resize;
}
.markItUpResizeHandle {
  overflow: hidden;
  width: 22px;
  height: 15px;
  margin: auto;
  background: url(../../../../../media/foundry/3.0/styles/markitup/skins/default/images/handle.png) center no-repeat;
  cursor: n-resize;
}
.markItUpHeader ul li {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}
.markItUpHeader ul li ul {
  display: none;
}
.markItUpHeader ul li:hover > ul {
  display: block;
}
.markItUpHeader ul .markItUpDropMenu {
  background: transparent url(../../../../../media/foundry/3.0/styles/markitup/skins/default/images/menu.png) no-repeat 115% 50%;
  margin-right: 5px;
}
.markItUpHeader ul .markItUpDropMenu li {
  margin-right: 0px;
}
.markItUpHeader ul .markItUpSeparator {
  margin: 0 10px;
  width: 1px;
  height: 16px;
  overflow: hidden;
  background-color: #CCC;
}
.markItUpHeader ul ul .markItUpSeparator {
  width: auto;
  height: 1px;
  margin: 0px;
}
.markItUpHeader ul ul {
  display: none;
  position: absolute;
  top: 18px;
  left: 0px;
  background: #F5F5F5;
  border: 1px solid #3C769D;
  height: inherit;
}
.markItUpHeader ul ul li {
  float: none;
  border-bottom: 1px solid #3C769D;
}
.markItUpHeader ul ul .markItUpDropMenu {
  background: #F5F5F5 url(../../../../../media/foundry/3.0/styles/markitup/skins/default/images/submenu.png) no-repeat 100% 50%;
}
.markItUpHeader ul ul ul {
  position: absolute;
  top: -1px;
  left: 150px;
}
.markItUpHeader ul ul ul li {
  float: none;
}
.markItUpHeader ul a {
  display: block;
  width: 22px;
  height: 22px;
  text-indent: -10000px;
  background-repeat: no-repeat;
  margin: 0px;
}
.markItUpHeader ul ul a {
  display: block;
  padding-left: 0px;
  text-indent: 0;
  width: 120px;
  padding: 5px 5px 5px 25px;
  background-position: 2px 50%;
}
.markItUpHeader ul ul a:hover {
  color: #FFF;
  background-color: #3C769D;
}
// .html .markItUpEditor {
//   background-image: url(../../../../../media/foundry/3.0/styles/markitup/skins/default/images/bg-editor-html.png);
// }
// .markdown .markItUpEditor {
//   background-image: url(../../../../../media/foundry/3.0/styles/markitup/skins/default/images/bg-editor-markdown.png);
// }
// .textile .markItUpEditor {
//   background-image: url(../../../../../media/foundry/3.0/styles/markitup/skins/default/images/bg-editor-textile.png);
// }
// .bbcode .markItUpEditor {
//   background-image: url(../../../../../media/foundry/3.0/styles/markitup/skins/default/images/bg-editor-bbcode.png);
// }
// .wiki .markItUpEditor,
// .dotclear .markItUpEditor {
//   background-image: url(../../../../../media/foundry/3.0/styles/markitup/skins/default/images/bg-editor-wiki.png);
// }
.markItUp {
  width: 100%;
  margin: 0;
  border: 0px solid transparent;

  .textareaClone {
    min-height: 160px;
    height: auto;
  }
}
.markItUp li > a {
  background-position: center;
  border: 1px solid transparent;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  font-size: 0;
}
.markItUp li > a:hover {
  border: 1px solid #dddddd;
  background-color: transparent;
}
.markItUp .markitup-bold a {
  background-image: url('../../../../../media/com_easydiscuss/styles/../images/markitup/bold.png');
}
.markItUp .markitup-italic a {
  background-image: url('../../../../../media/com_easydiscuss/styles/../images/markitup/italic.png');
}
.markItUp .markitup-underline a {
  background-image: url('../../../../../media/com_easydiscuss/styles/../images/markitup/underline.png');
}
.markItUp .markitup-url a {
  background-image: url('../../../../../media/com_easydiscuss/styles/../images/markitup/link.png');
}
.markItUp .markitup-picture a {
  background-image: url('../../../../../media/com_easydiscuss/styles/../images/markitup/picture.png');
}
.markItUp .markitup-video a {
  background-image: url('../../../../../media/com_easydiscuss/styles/../images/markitup/video.png');
}
.markItUp .markitup-bullet a {
  background-image: url('../../../../../media/com_easydiscuss/styles/../images/markitup/list-bullet.png');
}
.markItUp .markitup-numeric a {
  background-image: url('../../../../../media/com_easydiscuss/styles/../images/markitup/list-numeric.png');
}
.markItUp .markitup-list a {
  background-image: url('../../../../../media/com_easydiscuss/styles/../images/markitup/list-item.png');
}
.markItUp .markitup-quote a {
  background-image: url('../../../../../media/com_easydiscuss/styles/../images/markitup/quotes.png');
}
.markItUp .markitup-code a {
  background-image: url('../../../../../media/com_easydiscuss/styles/../images/markitup/code.png');
}
.markItUp .markitup-happy a {
  background-image: url('../../../../../media/com_easydiscuss/styles/../images/markitup/emoticon-happy.png');
}
.markItUp .markitup-smile a {
  background-image: url('../../../../../media/com_easydiscuss/styles/../images/markitup/emoticon-smile.png');
}
.markItUp .markitup-surprised a {
  background-image: url('../../../../../media/com_easydiscuss/styles/../images/markitup/emoticon-surprised.png');
}
.markItUp .markitup-tongue a {
  background-image: url('../../../../../media/com_easydiscuss/styles/../images/markitup/emoticon-tongue.png');
}
.markItUp .markitup-unhappy a {
  background-image: url('../../../../../media/com_easydiscuss/styles/../images/markitup/emoticon-unhappy.png');
}
.markItUp .markitup-wink a {
  background-image: url('../../../../../media/com_easydiscuss/styles/../images/markitup/emoticon-wink.png');
}
.markItUpHeader {
  padding: 5px 0;
  background: #f5f5f5;
  border-bottom: 0;
  overflow: hidden;
}
.markItUpHeader ul li {
  margin-right: 4px;
}
.markItUpHeader ul .markItUpSeparator {
  position: relative;
  background-color: #e5e5e5;
  color: #e5e5e5;
}
.markItUpEditor {
  padding: 5px;
  background: #fff;
  border: 1px solid #ccc;
  width: 100%;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 160px;
  height: auto;
  .border-radius(2px);

  &:focus
  {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }

  &.shadow 
  {
    display: none;
  }
}