(~"@{MediaManager}") {

    .editorPanel {
        .formGroup {

            display: block;
            clear:both;
            margin: 8px 0;

            .formLabel {
                display: block;
                float: left;
                width: 85px;
                text-align: right;
                font-size: 11px;
                padding-top: 4px;
            }

            .formControl {
                margin-left: 95px;
            }

            input[type=text] {
                background: transparent;
                border: none;
                line-height: 20px;
                width: 150px;
                height: 20px;
                font-size: 12px;
                border:1px solid #999;
                padding:0 0 0 4px;
                .rounded(4px);
                .box-shadow(0px 1px 3px 0px rgba(0, 0, 0, 0.2) inset);
            }
        }
    }

    .list-form,
    .list-form li {
        font-size:11px;
        margin:0!important;
        padding:0!important;
        list-style:none!important;
        border:0!important;
        background:none!important;

        + li{
            margin:5px 0 0!important;
        }
        > label{
            display:block;
            min-height:17px;
            line-height:17px;
            margin:0;
            text-align:left;
            width:auto;
            float:none;
        }
        > label + div{
            margin:0;
            line-height:20px;
        }

        input[type="text"],
        input[type="password"],
        input[type="checkbox"],
        input[type="radio"]
        textarea,
        select {
            border:1px solid #ccc;
            font-family:'Lucida Grande',Tahoma,Arial,sans-serif !important;
            font-size:11px !important;
            background:#fff;
            color:#555;
            display:inline-block;
            position:relative;
            vertical-align:top;
        }
        input[type="text"],
        input[type="password"],
        textarea{
            padding:4px;
        }
        input[type="text"],
        input[type="password"]{
            width: 90%;
            height: 20px;
        }
        input[type="checkbox"],
        input[type="radio"]{
            float:left;
            display:inline-block;
            vertical-align:text-bottom;
            bottom:-2px;

            + label{
                margin:0 0 0 20px!important;
            }
        }
        select{
            padding:2px;
            top:-1px;
        }
        label {
            font-family:'Lucida Grande',Tahoma,Arial,sans-serif !important;
            font-size:11px !important;
        }

        .field-content {
            display: block;
            margin: 5px 0 0 20px;
        }

        &.hide-field-content .field-content {
            display: none;
        }
    }
}
