.fsj 
{
	ul
    {
		li {
			list-style-type: none !important;
		}
    } 

	ul.dropdown-menu 
    {
    	padding: 5px 0px !important;
    }

	.input-append, .input-prepend 
    {
		input 
        {
        	margin: 0;
        }
		
		margin-bottom: 9px;
    }

	a.btn, li a, .label, .badge
    {
		text-decoration: none;
    } 

    /* Ratings */
    .unlit 
    {
        color: #ddd;
    }
}

/* Fix for page not allowing any overflow on beez_20 */
.item-page 
{
	overflow: inherit !important;
}