div#zt-module {
  font-size: 13px;

  ul.zt-tabs, ul.nav, ul.nav-tabs {
    margin-right: 5px;
    li {
      text-align: center;
    }
    li:last-child {
      a {
        margin-right: 0px;
      }
    }
  }
  div.tab-content {
    //border: 1px solid #ddd;
    border-top: none;

    margin-right: 5px;
    //margin-bottom: 30px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    // border: 1px solid #ddd;
    min-height: 50px;
    min-width: 50px;
    //border-right-color: transparent;

    display: flex;
    div.tab-pane, div.active {
      margin-bottom: 0px;
    }
  }
}