div#zt-module {
  overflow: hidden;
}
div#zt-module ul.zt-tabs,
div#zt-module ul.nav {
  border-bottom: none;
  margin-right: 10px;
  float: left;
}
div#zt-module ul.zt-tabs li,
div#zt-module ul.nav li {
  float: none;
}
div#zt-module ul.zt-tabs li.active:after,
div#zt-module ul.nav li.active:after {
  content: "";
  position: relative;
  top: -24px;
  left: 2px;
  float: right;
  border-left: 4px solid #ddd;
  border-top: 8px solid transparent;
  border-bottom: 4px solid transparent;
}
div#zt-module ul.zt-tabs li.active a,
div#zt-module ul.nav li.active a {
  border: 1px solid #ddd;
}
div#zt-module div.tab-content {
  margin-right: 5px;
  padding-left: 15px;
  padding-top: 15px;
  min-height: 50px;
  min-width: 50px;
  display: flex;
}
div#zt-module div.tab-content div.tab-pane,
div#zt-module div.tab-content div.active {
  margin-bottom: 0px;
}
