div#zt-module {
  overflow: auto;
}
div#zt-module ul.zt-tabs,
div#zt-module ul.nav,
div#zt-module ul.nav-tabs {
  float: left;
}
div#zt-module ul.zt-tabs li,
div#zt-module ul.nav li,
div#zt-module ul.nav-tabs li {
  float: none;
  margin-top: 5px;
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  border-radius: 4px 0px 0px 4px;
  border-right-color: transparent;
}
div#zt-module ul.zt-tabs li:first-child,
div#zt-module ul.nav li:first-child,
div#zt-module ul.nav-tabs li:first-child {
  margin-top: 0px;
}
div#zt-module ul.zt-tabs li a,
div#zt-module ul.nav li a,
div#zt-module ul.nav-tabs li a {
  border-radius: 4px 0px 0px 4px;
}
div#zt-module ul.zt-tabs li.active a,
div#zt-module ul.nav li.active a,
div#zt-module ul.nav-tabs li.active a,
div#zt-module ul.zt-tabs li.active a:hover,
div#zt-module ul.nav li.active a:hover,
div#zt-module ul.nav-tabs li.active a:hover,
div#zt-module ul.zt-tabs li.active a:focus,
div#zt-module ul.nav li.active a:focus,
div#zt-module ul.nav-tabs li.active a:focus {
  border: none;
}
div#zt-module div.tab-content {
  margin-right: 5px;
  padding-left: 15px;
  padding-top: 15px;
  min-height: 50px;
  min-width: 50px;
  display: flex;
}
div#zt-module div.tab-content div.tab-pane,
div#zt-module div.tab-content div.active {
  margin-bottom: 0px;
}
