div#zt-module {
  font-size: 13px;
  ul.zt-tabs, ul.nav {
    //border-bottom: 1px solid #ddd;
    //text-align: left;
    margin-right: 5px;
    border: none;


    li {

      margin-right: 3px;
      text-align: center;

      //border: 1px solid #ddd;
      border-radius: 0 0 4px 4px;

      //
      a, a:hover, a:focus{
        border: 1px solid #ddd;
        border-top: transparent;

        border-radius: 0 0 4px 4px;
        margin-right: 0px;
        background-color: white;

        color: #444444;

        background: -webkit-linear-gradient(bottom, white , #ddd); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(top, white, #ddd); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(top, white, #ddd); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to top, white , #ddd); /* Standard syntax */
      }
      &.active {
        li {
          border-bottom: none;
        }
        a, a:hover, a:focus{
          //margin-bottom: -1px;
          border: 1px solid #ddd;
          border-top: transparent;
          margin-top: -1px;


          color: #EE9900;
          background: -webkit-linear-gradient(bottom, white , #ddd); /* For Safari 5.1 to 6.0 */
          background: -o-linear-gradient(top, #ddd, white); /* For Opera 11.1 to 12.0 */
          background: -moz-linear-gradient(top, #ddd, white); /* For Firefox 3.6 to 15 */
          background: linear-gradient(to top, #ddd , white); /* Standard syntax */
        }
      }
    }
  }
  div.tab-content {
    border: 1px solid #ddd;
    //border-: none;

    margin-right: 5px;
    padding-bottom: 5px;
    //margin-bottom: 30px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    // border: 1px solid #ddd;
    min-height: 50px;
    min-width: 50px;
    //border-right-color: transparent;

    display: flex;
    div.tab-pane, div.active {
      margin-bottom: 0px;
    }
  }
}