div#zt-module {
  padding: 10px 5px 10px 10px;
  border: 1px solid #ddd;
  background-color: #E8E8E8;
  font-size: 13px;
  border-radius: 5px;
}
div#zt-module ul.zt-tabs,
div#zt-module ul.nav,
div#zt-module ul.nav-tabs {
  background-color: #E8E8E8;
  margin-right: 3px;
  border: none;
  font-size: medium;
  font-weight: bold;
}
div#zt-module ul.zt-tabs li,
div#zt-module ul.nav li,
div#zt-module ul.nav-tabs li {
  background-color: #E8E8E8;
  text-align: center;
  margin-bottom: 5px;
}
div#zt-module ul.zt-tabs li:first-child,
div#zt-module ul.nav li:first-child,
div#zt-module ul.nav-tabs li:first-child {
  margin-top: 0px;
}
div#zt-module ul.zt-tabs li a:first-child,
div#zt-module ul.nav li a:first-child,
div#zt-module ul.nav-tabs li a:first-child {
  margin-left: 0px;
}
div#zt-module ul.zt-tabs li a,
div#zt-module ul.nav li a,
div#zt-module ul.nav-tabs li a {
  color: #444444;
  border: 1px solid #DDD;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 4px;
  text-shadow: 0 1px 1px white;
  -webkit-box-shadow: 0 1px 1px #fff;
  -moz-box-shadow: 0 1px 1px #fff;
  box-shadow: 0 1px 1px #fff;
  margin-left: 2px;
  margin-right: 2px;
}
div#zt-module ul.zt-tabs li a:hover,
div#zt-module ul.nav li a:hover,
div#zt-module ul.nav-tabs li a:hover,
div#zt-module ul.zt-tabs li a:focus,
div#zt-module ul.nav li a:focus,
div#zt-module ul.nav-tabs li a:focus {
  border: 1px solid #AAA;
  border-bottom-color: #CCC;
  border-top-color: #999;
  -webkit-box-shadow: inset 0 1px 2px #aaa;
  -moz-box-shadow: inset 0 1px 2px #aaa;
  box-shadow: inset 0 1px 2px #aaa;
  filter: none;
  background: -webkit-linear-gradient(top, #e6e6e6, #dcdcdc);
  background: -moz-linear-gradient(top, #e6e6e6, #dcdcdc);
  background: -ms-linear-gradient(top, #e6e6e6, #dcdcdc);
  background: -o-linear-gradient(top, #e6e6e6, #dcdcdc);
  color: #444444;
}
div#zt-module ul.zt-tabs li.active a,
div#zt-module ul.nav li.active a,
div#zt-module ul.nav-tabs li.active a,
div#zt-module ul.zt-tabs li.active a:hover,
div#zt-module ul.nav li.active a:hover,
div#zt-module ul.nav-tabs li.active a:hover,
div#zt-module ul.zt-tabs li.active a:focus,
div#zt-module ul.nav li.active a:focus,
div#zt-module ul.nav-tabs li.active a:focus {
  border-color: #999;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#E0E0E0');
  background: -webkit-linear-gradient(top, #ffffff, #e0e0e0);
  background: -moz-linear-gradient(top, #ffffff, #e0e0e0);
  background: -ms-linear-gradient(top, #ffffff, #e0e0e0);
  background: -o-linear-gradient(top, #ffffff, #e0e0e0);
  background: linear-gradient(top, #ffffff #e0e0e0);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 0 3px #ffffff;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 0 3px #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 0 3px #ffffff;
}
div#zt-module div.tab-content {
  margin-right: 5px;
  padding-left: 15px;
  padding-top: 15px;
  min-height: 50px;
  min-width: 50px;
  display: flex;
  border: 1px solid #999;
  background: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background: -o-linear-gradient(top, #ffffff, #f5f5f5);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 1px white;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 0 3px #ffffff;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 0 3px #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 0 3px #ffffff;
}
div#zt-module div.tab-content div.tab-pane,
div#zt-module div.tab-content div.active {
  margin-bottom: 0px;
  padding: 5px;
}
