#jform_params_asset-lbl {
  display: none;
}
.jv_catagory_info {
  float: left;
  text-align: center;
  cellpadding:1;
  cellspacing:0;
  border: 0;
  width: 100%;
  #zt-load {
    float: left;
    margin-left: 0px;
  }
  #zt-process, #zt-replace, #zt-save {
    float: left;
    margin-left: 10px;
  }
  #jformparamsjv_selection, #jv_selection_selected {
    height: 160px;

  }
  #zt-process {
    margin-top: 50px;
    #list-selection-add{
      width: 65px;
      display: block;
      margin-bottom: 2px;
    }
    #list-selection-remove {
      width: 65px;
    }
  }
  #zt-replace {
    margin-top: 50px;
    span{
      margin-bottom: 15px;
      cursor: pointer;
      display: block;
      &:hover{
        color: green;
      }
    }
  }
  #jformparamsjv_selection_chzn, #jv_selection_selected_chzn {
    display: none;
  }
}
#jv_selection_selected, #jformparamsjv_selection, #jformparamsmoduleID-position, #jformparamstype {
  display: compact;
}