#go_to_top_go_to_top {
  font-size: 40px;
  position: fixed;
  bottom: 0px;
  left: 50%;
  a:hover {
    text-decoration: none;
    color: #cd282a;
  }
  a:active{
    text-decoration: none;
  }
  z-index: 9999;
}