.thong-tin-gian-hang
{
    font-size: 30px;
    margin-bottom: 30px;
}
.line{

    border: 1px solid #FFFFFF;
    height: 4px;
    background-color: #DDDDDD;
}
.bottom-line{
    border: 1px solid #DDDDDD;
    height: 20px;
    font-size: 200px;
    background-color: #DDDDDD;
}
div.vendor {

    .vendor_image {
        margin: 0 auto;

    }

    .vendor-name {
        font-size: 20px;
    }

    .vendor-call {
        margin: 0 auto;
        padding: 10px;
        border: 3px solid #00A000;
        width: 140px;
        height: 140px;
        border-radius: 70px;
        button{
            color: #b07e47;
        }

    }

}
.toolbar {
    .luot-mua,.don-hang-tot,.su-ly-don-hang{
        margin: 0 auto;
        button{
            color: #b01d24;
        }
    }
    .title-luot-mua,.title-don-hang-tot,.title-su-ly-don-hang
    {
        text-align: center;
        margin: 0px 0px 30px;
    }
}
.theo-doi-va-vao-gian-hang
{

    .theo-doi,.go-to-shop{
        margin: 0 auto;

        button{
        }
        button.span-theo-doi{
            color: #730028;
        }
    }
}
    