.thong-tin-gian-hang
{
    font-size: 30px;
    padding-bottom: 10px;
    height: auto;
}
.line{
    border: 1px solid #FFFFFF;
    font-size: 200px;
    height: 1px;
}
.bottom-line{
    border: 1px solid #FFFFFF;
    font-size: 200px;
    height: 20px;
    background-color: #DDDDDD;
}
div.vendor {

    .vendor_image {
        border-radius: 80px;
        padding: 20px;
        margin: 10px;
        background-color: #FFFFFF;
        border: 1px solid #FFFFFF;
        font-size: 200px;
        height: 160px;
        color:transparent;
        width: 160px;
    }

    .vendor-name {
        border-radius: 80px;
        padding: 20px;
        margin: 10px;
        background-color: #FFFFFF;
        border: 1px solid #FFFFFF;
        font-size: 20px;
        height: 160px;
        color: #000000;
        text-align: left;
        width: 160px;
    }

    .vendor-call {
        border-radius: 80px;
        padding: 20px;
        margin: 10px;
        background-color: #FFFFFF;
        border: 1px solid #CCCCCC;
        color: #CCCCCC;
        font-size: 200px;
        height: 160px;
        width: 160px;
    }

}
.toolbar {
    padding-bottom: 20px;
    padding-top: 20px;
    .title-total-buy,.title-don-hang-tot,.title-su-ly-don-hang
    {
        text-align: center;
    }
    .total-buy h4,.don-hang-tot h4,.su-ly-don-hang h4{
        color: #ba1a0b;
    }
    .total-buy,.don-hang-tot,.su-ly-don-hang{
        margin: 0 auto;
    }
}
.theo-doi-va-vao-gian-hang
{
    padding-bottom: 20px;
    padding-top: 20px;
    .theo-doi,.go-to-shop{
        margin: 0 auto;
    }
}
    