.thong-tin-gian-hang
{
    font-size: 30px;
}
.line{

    border: 1px solid #FFFFFF;
    height: 4px;
    background-color: #DDDDDD;
}
.bottom-line{
    border: 1px solid #FFFFFF;
    font-size: 200px;
    background-color: #DDDDDD;
}
div.vendor {

    .vendor_image {
        margin: 0 auto;

    }

    .vendor-name {
        font-size: 20px;
    }

    .vendor-call {
        border: 10px solid #00A000;

    }

}
.toolbar {
    .luot-mua,.don-hang-tot,.su-ly-don-hang{
        margin: 0 auto;
        button{
        }
    }
    .title-luot-mua,.title-don-hang-tot,.title-su-ly-don-hang
    {
    }
}
.theo-doi-va-vao-gian-hang
{
    .theo-doi,.go-to-shop{
        margin: 0 auto;
        button{

        }
    }
}
    