.view-default-checkout {
  #address_street {
    width: 100%;
    resize: none;
    height: 100px;
  }
  #hikashop_checkout_login_right_part {
    .title-social-login {
      padding: 0;
      margin: 0;
    }
    .list-social
    {
      padding: 10px 0px;
    }
    .login-facebook,.login-google {
      border-radius: 10px;
      font-size: 11px;
      position: relative;
      white-space: pre-line;
      background-color: #5692ce;
      border-color: #2b6cb3;
      color: #fff;
      padding: 10px;
      line-height: 50px;
      i{
        font-size: 20px;
      }
    }
    &:hover{
      text-decoration: none;
    }
  }
}