.view-product-listing iframe.facebook_shared {
  border: none;
  height: 20px;
  width: 100%;
}
.view-product-listing .hikashop_product_image .hikashop_product_listing_image {
  min-height: 300px;
  min-width: 200px;
}
