.view-user-affiliateform {
  .white-text a, .white-text h1, .white-text h2, .white-text h3, .white-text h4, .white-text h5, .white-text h6, .white-text i, .white-text p, .white-text span {
    color: #fff !important
  }

  .icon-bk, .owl-carousel .item, .scrollToTop, .social li {
    text-align: center
  }
  .icon-tiny-left, figure a .overlay .info {
    left: 0;
    top: 0;
    position: absolute;
  }
  .icon-tiny-right {
    padding-left: 105px;
    line-height: 25px;
    display: block;
  }
  .pi-title, p.section-subtitle {
    font-size: 20px;
    line-height: 30px
  }

  p.section-subtitle {
    max-width: 80%;
    margin: 0 auto
  }
  .at-slide-block {


    .at-btn.outline-green {
      border: 2px solid #43ca83;
      background: #fff;
      color: #43ca83 !important
    }

    .at-btn.outline-green:active, .at-btn.outline-green:focus, .at-btn.outline-green:hover {
      background: #43ca83;
      color: #fff !important
    }

    .at-btn.outline-blue {
      border: 2px solid #008ed6;
      background: #fff;
      color: #008ed6 !important
    }

    .at-btn.outline-blue:active, .at-btn.outline-blue:focus, .at-btn.outline-blue:hover {
      background: #008ed6;
      color: #fff !important
    }

    .at-btn.outline-white {
      border: 2px solid #fff;
      background-color: transparent;
      color: #fff !important
    }

    .at-btn.outline-white:active, .at-btn.outline-white:focus, .at-btn.outline-white:hover {
      background: #fff;
      color: #333 !important
    }

    .at-btn.at-btn-lg {
      font-size: 25px;
      font-weight: 500
    }

    .at-btn {
      background: #333;
      color: #fff !important;
      padding: 12px 30px;
      border-radius: 10px;
      transition: background .3s;
      border: 2px solid #333;
      font-weight: 700;
      font-size: 15px
    }

    .at-btn:active, .at-btn:focus, .at-btn:hover {
      background-color: transparent;
      color: #333 !important
    }

    .at-btn.orange-btn {
      background: #f09116;
      border: 2px solid #f09116;
      color: #fff !important
    }

    .at-btn.orange-btn:active, .at-btn.orange-btn:focus, .at-btn.orange-btn:hover {
      background-color: #f3a744;
      border: 2px solid #f3a744;
      color: #fff !important
    }

    .at-btn.green-btn {
      background: #43ca83;
      border: 2px solid #43ca83;
      color: #fff !important
    }

    .at-btn.green-btn:active, .at-btn.green-btn:focus, .at-btn.green-btn:hover {
      background-color: transparent;
      color: #43ca83 !important
    }

    .at-btn.blue-btn {
      background: #008ed6;
      border: 2px solid #008ed6;
      color: #fff !important
    }

    .at-btn.blue-btn:active, .at-btn.blue-btn:focus, .at-btn.blue-btn:hover {
      background-color: transparent;
      color: #008ed6 !important
    }

    .bk.slide-1 {
      background-color: #333745
    }

    .bk.slide-2 {
      background-color: #43ca83
    }

    .bk.slide-3 {
      background-color: #f37934
    }

    .bk.slide-4 {
      background-color: #e8f2ef
    }

    .bk.slide-5 {
      background-color: #eaeced
    }

    .bk.slide-6 {
      background-color: #008ed6
    }

    .bk.slide-7 {
      background-color: #fdc00f
    }

    .bk.slide-8 {
      background-color: #ea6c56
    }

    .bk.slide-9 {
      background-color: #71b744
    }

    .bk.slide-10 {
      background-color: #ed3895
    }

    .carousel-inner {
      height: 730px
    }

    .carousel-2 .carousel-inner {
      height: auto
    }

    .carousel-2 .item.bk {
      height: auto;
      padding-top: 60px;
      overflow: hidden;
      padding-bottom: 0
    }

    .item.bk {
      height: 600px;
      padding-top: 0px;
      overflow: hidden
    }

    .slide-info h3 {
      font-weight: 500;
      font-size: 40px;
      line-height: 45px;
      margin-bottom: 20px
    }

    .slide-info p {
      color: grey;
      font-size: 24px;
      line-height: 36px;
      max-width: 850px;
      margin: 0 auto 25px;
      font-weight: 300
    }

    .carousel-2 .slide-info {
      margin-top: 80px;
      margin-bottom: 0
    }

    .slide-info {
      margin-bottom: 40px
    }

    .slide-img .slide2-img {
      position: absolute;
      right: 36%;
      top: 10%
    }

    .slide-img0 {
      width: 53%
    }

    .slide1-images {
      width: 70%
    }

    .slide1-images.img2 {
      position: absolute;
      left: 15%
    }

    .slide1-images2 {
      width: 55%
    }

    .slide1-images2.img2 {
      position: absolute;
      left: 20%
    }

    .slide1-images2.img3 {
      position: absolute;
      left: 18%
    }

    .carousel-indicators {
      bottom: 0
    }

    .carousel-control.left, .carousel-control.right {
      background-image: none
    }

    .carousel-caption {
      text-shadow: none;
      bottom: auto
    }

    .carousel-caption h3:first-child {
      -webkit-animation-delay: .3s;
      animation-delay: .3s;
      animation-duration: 1.5s
    }

    .carousel-caption p {
      -webkit-animation-delay: .6s;
      animation-delay: .6s
    }

    .carousel-caption .slide2-img {
      -webkit-animation-delay: .8s;
      animation-delay: .8s;
      animation-duration: 2s
    }

    .carousel-caption .slide1-images.img1 {
      -webkit-animation-delay: .8s;
      animation-delay: .8s;
      animation-duration: 2s;
      animation-iteration-count: infinite
    }

    .carousel-caption .slide1-images2 {
      animation-duration: 1.5s
    }

    .carousel-caption .slide1-images2.img2 {
      -webkit-animation-delay: .3s;
      animation-delay: .3s
    }

    .carousel-caption .slide1-images2.img3 {
      -webkit-animation-delay: .5s;
      animation-delay: .5s
    }

    .carousel-fade .carousel-inner .item {
      -webkit-transition-property: opacity;
      transition-property: opacity
    }

    .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right, .carousel-fade .carousel-inner .item {
      opacity: 0
    }

    .carousel-fade .carousel-inner .active, .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
      opacity: 1
    }

    .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right, .carousel-fade .carousel-inner .next, .carousel-fade .carousel-inner .prev {
      left: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0)
    }

    .carousel-fade .carousel-control {
      z-index: 200
    }
  }
  .tour-block {
    padding: 120px 0
  }

  .content-block {
    padding: 80px 0
  }

  .content-block1 {
    padding-top: 80px;
    padding-bottom: 40px;
    .section-title {
      font-size: 40px;
      line-height: 50px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 25px
    }
    .pi-title, p.section-subtitle {
      font-size: 20px;
      line-height: 30px
    }
  }

  .content-block2 {
    padding-top: 80px;
    padding-bottom: 0;
    .section-title {
      font-size: 40px;
      line-height: 50px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 25px
    }
  }

  .bk-blue {
    background-color: #008ed6
  }

  .bk-red {
    background-color: #e8444f
  }

  .bk-pink {
    background-color: #ed3895
  }

  .bk-green-2 {
    background-color: #71b744
  }

  .bk-green-3 {
    background-color: #44bda0
  }

  .bk-green-img {
    background-color: #efefef;
    background-image: url(../images/light-title-background.jpg);
    background-size: cover;
    background-position: center
  }

  .bk-black, .site-footer {
    background-color: #323232
  }

  .section-title {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px
  }
  .icon-tiny {
    position: relative;
    margin-bottom: 80px;
    display: block;
  }

  .icon-bk {
    background: rgba(0, 0, 0, .2);
    border-radius: 50%;
    font-size: 30px;
    width: 80px;
    height: 80px;
    display: block;
    line-height: 85px
  }

  .icon-tiny-right {
    padding-left: 105px
  }

  .h1, .h2, .h3, .h4, .h5, .h6, a, body, h1, h2, h3, h4, h5, h6,p {
    font-family: Roboto, sans-serif
  }
  .register{
    margin: 0 auto;
    width: 700px;
  }
  #youtube-video-player
  {
    margin: 0 auto;
  }

}