/*------------------------------------*\
	$icons.less
\*------------------------------------*/

.icon-ed-featured {
	width: 12px;
	height: 12px;
}

.icon-ed-key {
	width: 12px;
	height: 12px;
	background-position: -192px -16px;
}

.icon-tag {
	width: 14px !important;
}
