/*------------------------------------*\
	$item.less
\*------------------------------------*/

.discuss-item {
	border: 1px solid transparent;
	border-bottom: 1px solid @discussBorderColor;
	.discuss-story-ft {

	}
	.discuss-item-left {
		padding: 5px 15px 5px;
	}
	.discuss-item-right {
		padding-top: 0;
	}
}


