body div#fd.es .migrators > ul >li {
  background: #fff;
  border: 1px solid #d7d7d7;
  width: 50%;
  padding: 10px 20px !important;
  border-radius: 6px;
}
body div#fd.es .migrators > ul >li:before,
body div#fd.es .migrators > ul >li:after {
  content: " ";
  display: table;
}
body div#fd.es .migrators > ul >li:after {
  clear: both;
}
body div#fd.es .migrators > ul >li h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
}
body div#fd.es .migrators > ul >li i {
  color: #666;
  font-size: 32px;
  margin-top: 10px;
  margin-right: 15px;
}
body div#fd.es .migrators > ul >li + li {
  margin-top: 20px;
}
body div#fd.es .migrators .instructions >li {
  font-weight: 700;
  text-decoration: underline;
}
body div#fd.es .migrators .widget-box table tr:first-child th {
  border-top: 1px solid #d7d7d7 !important;
}
body div#fd.es .es-scan-result {
  max-height: 250px;
  overflow-x: auto;
}
