/*------------------------------------*\
    $custom.less
\*------------------------------------*/
//	custom hack for template J2.5
#main #discuss-wrapper {
	h1 {
		border-bottom: none;
	}
	h3 {
		margin: 0;
	}
	ul li,
	ol li {
		// line-height: 20px;
	}

}

// custom hack for jomsocial integrations.
#discuss-wrapper #community-wrap{
	min-height: 0;
}


//Reset jomsocial declare margin and padding
#discuss-wrapper .icon-remove,
#discuss-wrapper .icon-user {
	margin: 0;
	padding: 0;
	background:none !important;
}


/*Custom hack for Rockettheme*/
#rt-mainbody .component-content #discuss-wrapper .form-horizontal .controls {
	height: auto;
	left: 0;
	margin: 0 0 0 180px;
	position: relative;
	top: 0;
	width: auto;
}
