/*------------------------------------*\
	$searchbar.less
\*------------------------------------*/
// main searchbar

.discuss-searchbar {
	// background: #333;
	border: 1px solid @grayLighter;
	padding: 10px 14px;
	margin-bottom: 20px;
	height: 50px;
	background: @discussSearchBarBackground;
	// width: 100%;
	position: relative;
	.border-radius(2px);
	.clearfix();

	table {
		td,tr {
			border:none;
		}
	}

	.discuss-searchbar--left {
		width: 70px;
	}
	.discuss-searchbar--center {
		width: 100%;
	}
	.discuss-searchbar--right {
		width: 140px;
	}
	.discuss-searchbar--input {
		position: relative;
		width: 100%;
		display: inline-block;
	}

	.discuss-avatar {
		margin-right: 10px;
	}
	.input-searchbar {
		height: 52px;
		width: 98%;
		font-size: 28px;
		line-height: 28px;
		position: absolute;
		padding: 4px 90px 4px 1%;
		.box-sizing(border-box);
	}
	.select-searchbar-wrap { //hide by default
		visibility: hidden;
	}
	.btn-searchbar {
		position: absolute;
		right: 4%;
		top: 10px;
	}
	.btn-ask {
		font-size: 15px;
		font-weight: bold;
		padding: 15px 10px;
		white-space: pre;
		height: 20px;
		display: block;
	}
	&.narrow {
		// min-height: 110px;
		height: auto;
		.discuss-searchbar--left {
			display: block;
			height: 60px;
		}
		.discuss-searchbar--center {
			display: block;
			height: 50px;
		}
		.discuss-searchbar--right {
			clear: both;
			display: block;
			width: auto;
		}
		.input-searchbar {
			font-size: 14px;
			font-weight: bold;
			width: 100%;
			padding-right: 80px;
		}
		.btn-ask {
			width: 100%;
			display: block;
			margin-top: 10px;
			.box-sizing(border-box);
			height: 50px;
		}
		.discuss-table {
			display: block;
		}
		.btn-searchbar {
			right: 2%;
			top: 9px;
			padding: 7px 2px;
		}
	}

	//modified for categoryselection
	&.discuss-categorysearch {
		height: 90px;
		.discuss-searchbar--left,
		.btn-ask {
			display: none;
		}
		.select-searchbar-wrap {
			// display: table-cell;
			visibility: visible;
			width: 100%;
			padding-right: 10px;
		}
		.btn-searchbar {
			top: 60px;
			right: 0;
			position: relative;
			float: right;
		}
		.input-searchbar {
			width: 100%;
			// font-size: 16px;
			padding: 4px 1% 4px 1%;
		}
		// .select-searchbar {
		// 	float: right;
		// 	position: relative;
		// }
		.select-searchbar {
			height: 30px;
			position: relative;
			float: left;
			width: 100%;

			left: 0px;
			top: 60px;
			// top: 50px;
		}
		&.narrow {
			height: 96px;
			.select-searchbar {
				height: 37px;
				padding-top: 7px;
			}
		}
	}//categorysearch

}//discuss-searchbar

&.w600 {
	.discuss-searchbar {
		.input-searchbar {
			font-size: 12px;
			position: absolute;
			right: 0;
			padding-right: 60px;
		}
		&.discuss-categorysearch {
			.input-searchbar {
				font-size: 14px;
				padding: 0;
			}
		}
	}
}
