.fsj
{
	input
	{
		font-size: 12px !important;
	}
	button.btn
	{
		font-size: 11px !important;
	}
	div.input-prepend
	{
		position: relative;
		top: -4px;
	}

	div#filter_div 
	{
		top: -2px;
	}

	.subhead 
    {
    	background-color: rgb(237, 237, 237);
    }
}

.icon-32-arrow-up {
	background-image: url(../administrator/components/com_fsj_transman/assets/images/arrow-up-32.png);
}