.mod_menu.default
{
  margin-bottom: 10px;
  >.title
  {
    padding: 5px 0px;
    margin: 0px;
    border-bottom: 1px dotted #e5e5e5

  }
  position: relative;
  ul.level-0
  {
    margin: 0px;
    li.menu-iem.level-1
    {
      >a{
        color: #333;
        padding: 5px 0px;
        font-size: 11px;
        line-height: 180%;
        text-decoration: none;
        &:hover{
          color: #365db5;
        }
      }

    }

    li.menu-iem.level-1:hover{

    }
  }
}