.mod_menu.default {
  margin-bottom: 10px;
  position: relative;
}
.mod_menu.default > .title {
  padding: 5px 0px;
  margin: 0px;
  border-bottom: 1px dotted #e5e5e5;
}
.mod_menu.default ul.level-0 {
  margin: 0px;
}
.mod_menu.default ul.level-0 li.menu-iem.level-1 > a {
  color: #333;
  padding: 5px 0px;
  font-size: 11px;
  line-height: 180%;
  text-decoration: none;
}
.mod_menu.default ul.level-0 li.menu-iem.level-1 > a:hover {
  color: #365db5;
}
