.mod_menu.footerleftmenu
{

  position: relative;
  ul.level-0
  {
    margin: 0px;
    li.menu-iem.level-1
    {
      >a{
        color: #333;
        padding: 5px 0px;
        font-size: 11px;
        line-height: 180%;
        text-decoration: none;
        span
        {
          margin-left: 2px;
        }
        &:hover{
          color: #365db5;
        }
      }
      float: left;
      margin-right: 10px;
    }
    li.menu-iem.level-1:hover{

    }
  }
}