.mod_menu.footerleftmenu
{

  position: relative;
  ul.level-0
  {
    margin: 0px;
    li.menu-iem.level-1
    {
      a{
        span
        {
          margin-left: 2px;
        }
      }
      float: left;
      margin-right: 10px;
    }
    li.menu-iem.level-1:hover{

    }
  }
}