#sp-top-wrapper .homepagetoprightmenu {
  float: right;
}
#sp-top-wrapper .homepagetoprightmenu .menu-iem {
  float: left;
}
#sp-top-wrapper .homepagetoprightmenu .menu-iem a {
  border-left: 1px solid #f2f2f2;
  color: #999;
  display: block;
  line-height: 30px;
  padding: 0px 5px;
}
#sp-top-wrapper .homepagetoprightmenu .menu-iem a:hover {
  color: #365db5;
  background: #fff;
  border-left: 1px solid #ccc;
}
#sp-top-wrapper .homepagetoprightmenu .sidr ul {
  padding-top: 30px;
}
#sp-top-wrapper .homepagetoprightmenu .sidr ul .menu-iem {
  float: none;
}
#sp-top-wrapper .homepagetoprightmenu .show-hide-menu {
  font-size: 20px;
  color: #000;
}
#sp-top-wrapper .homepagetoprightmenu .show-hide-menu.open {
  float: left;
}
#sp-top-wrapper .homepagetoprightmenu .show-hide-menu.close {
  position: absolute;
  left: 5px;
  top: 5px;
  color: #000;
}
