#sp-top-wrapper .hompagetopleftmenu .menu-iem {
  float: left;
}
#sp-top-wrapper .hompagetopleftmenu .menu-iem a {
  border-left: 1px solid #f2f2f2;
  color: #999;
  display: block;
  line-height: 30px;
  padding: 0px 5px;
}
#sp-top-wrapper .hompagetopleftmenu .menu-iem a img.icon {
  display: none;
}
#sp-top-wrapper .hompagetopleftmenu .menu-iem a:hover {
  color: #365db5;
  background: #fff;
  border-left: 1px solid #ccc;
}
#sp-top-wrapper .hompagetopleftmenu .sidr ul {
  padding-top: 30px;
}
#sp-top-wrapper .hompagetopleftmenu .sidr ul .menu-iem {
  float: none;
}
#sp-top-wrapper .hompagetopleftmenu .show-hide-menu {
  font-size: 20px;
  color: #000;
}
#sp-top-wrapper .hompagetopleftmenu .show-hide-menu.open {
  float: left;
}
#sp-top-wrapper .hompagetopleftmenu .show-hide-menu.close {
  position: absolute;
  right: 0;
  top: 7px;
  color: #000;
}
