#sp-top-wrapper {
  .hompagetopleftmenu {
    .menu-iem {
      float: left;
      margin: 0px 5px ;
      a {
        color: #999;
        line-height: 30px;
        width: 100%;
        display: block;
        padding: 0px 5px ;
        border-left: 1px solid #f2f2f2;
        margin: 0 5px;
        img.icon {
          display: none;
        }
      }
      a:hover{
        color: #365db5;
        background: #fff;

        border-left: 1px solid #ccc;
      }

    }
  }
}