.mod_menu.menucategory
{
  margin-bottom: 10px;
  >.title
  {
    padding: 5px;
    color: #fff;
    text-transform: uppercase;
    margin: 0px;
    background: #f44f00;

  }
  background: #666b7e;
  position: relative;
  ul.level-0
  {
    margin: 0px;
    li.menu-iem.level-1
    {
      a{
        height: 30px;
        display: block;
        width: 100%;
        color: #fff;
        padding: 5px 0px;
        font-weight: bold;
        img
        {
          margin-left: 5px;
          width: 30px;
        }
        span
        {
          margin-left: 2px;
        }
      }
    }
    li.menu-iem.level-1:hover{

    }
  }
}