.mod_menu.menucategory {
  margin-bottom: 10px;
  min-height: 215px;
  position: relative;
}
.mod_menu.menucategory > .title {
  padding: 5px;
  color: #fff;
  text-transform: uppercase;
  margin: 0px;
  background: #f44f00;
}
.mod_menu.menucategory ul.level-0 {
  margin: 0px;
}
.mod_menu.menucategory ul.level-0 li.menu-iem.level-1 > a {
  display: block;
  width: 100%;
  color: #333;
  padding: 5px 0px;
  font-weight: bold;
  border-bottom: 1px dotted #e5e5e5;
  margin-bottom: 4px;
  padding-bottom: 6px;
}
.mod_menu.menucategory ul.level-0 li.menu-iem.level-1 > a span {
  margin-left: 2px;
}
.mod_menu.menucategory ul.level-0 li.menu-iem.level-1 ul.level-1 {
  margin: 0px;
}
.mod_menu.menucategory ul.level-0 li.menu-iem.level-1 ul.level-1 li.menu-iem.level-2 > a {
  width: 100%;
  color: #333;
  padding: 5px 0px;
  font-size: 11px;
  line-height: 180%;
}
.mod_menu.menucategory ul.level-0 li.menu-iem.level-1 ul.level-1 li.menu-iem.level-2 > a span {
  margin-left: 2px;
}
.mod_menu.menucategory ul.level-0 li.menu-iem.level-1 ul.level-1 li.menu-iem.level-2 > a:hover {
  color: #365db5;
}
