.mod_search
{

  .z-tabs.flat.mobile.z-rounded > ul.z-tabs-nav > li.z-active, .z-tabs.flat.mobile.z-rounded > ul.z-tabs-nav > li.z-active:hover, .z-tabs.flat.mobile.z-rounded > ul.z-tabs-nav > li:hover, .z-tabs.horizontal.top-left.z-rounded > .z-container
  {
    border-radius : 0px 3px 3px 3px !important;
  }
  .tab.search
  {
    > ul > li > a
    {
      padding: 10px;
    }
    .z-container > .z-content > .z-content-inner
    {
      padding: 10px;
    }

    .form-group
    {
      .input-group
      {
        >*{
          float: left;
        }
      }
    }
    .wrapper-search
    {
      button.search
      {
        color: #fff;
        padding:  0px 5px;
      }
    }
  }
  .main-content
  {
    min-height: 60px;
  }
}