.pageslide {
    position: relative;
    overflow: hidden;

    &.fx-prev {

        .pageslide-viewport {
            left: 100%;
        }

        .pageslide-page {

            &.active {
                left: -100%;
            }
        }
    }

    &.fx-next {
        .pageslide-viewport {
            left: -100%;
        }

        .pageslide-page {

            &.active {
                left: 100%;
            }
        }
    }

    &.fx-reset {

        .pageslide-viewport {
            .no-transition();
        }

        .pageslide-page {

            &.active {
                left: 0;
            }
        }
    }
}

.pageslide-viewport {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    .transition(left .5s ease);
}

.pageslide-page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;

    &.active {
        z-index: 2;
    }
}