input[name=code] {
    margin-top: 10px;
}

.main .contents .lifestyle-img {
    background-image: url('../../assets.nflxext.com/us/layout/ecweb/gift/tablet_watch_alt2_bg.jpg');
}

.where_buy {
    margin-top:30px;
}