
/*
.fsj_admin_block_icon img
{
	padding: 4px;
}

.fsj_clear
{
    clear:both;
}

div.fsj_linked_container
{
    float: left;
    width: 450px;
}

.fsj_related
{
    min-height: 22px;
    clear:both;
}

.fsj_related span
{
    white-space: nowrap;
    max-width: 370px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    position: relative;
    top: 6px;
}
*/