.mod_products
{
  .item
  {
    .title
    {
      text-align: center;
    }
    .image
    {
      margin: 0 auto;
      max-height: 250px;
      min-height: 250px;

    }
    .price
    {
      text-align: center;
    }
  }
}