.icons-wrapper
{
  .bs-glyphicons li,#themify .icon-container {
    border: 1px solid #ddd;
    float: left;
    font-size: 12px;
    line-height: 1.4;
    margin: 0 -1px -1px 0;
    padding: 10px;
    text-align: center;
    list-style: none;
    width: auto;
    [class^="icon-"], [class*=" icon-"]
    {
      width: auto;
    }
    [class^="ti-"], [class*="ti-"]
    {
      font-size: 15px;
      font-weight: bold;
      margin-right: 12px;
      width: auto;

    }
    cursor: pointer;
  }
  #awesome
  {
    .span3{
      cursor: pointer;
    }
  }
  #glyphicons
  {
    li{
      cursor: pointer;
    }

  }

  .glyphicon
  {
    font-size: 15px;
    font-weight: bold;
    margin-right: 12px;
    width: auto;

  }
  #awesome .span3,#glyphicons li,#themify .icon-container
  {
    line-height: 30px;
    &.tag{
      background-color:#00c0ef !important;
      color: #fff;
    }
  }
  .wrapper-selected
  {

    margin-bottom: 10px;
    .selected{
      padding: 10px;
      width: 30px;
      height: 30px;
      font-size: 20px;
      color: #fff;
      background: #409740;
    }

  }
}

