body div#fd.es .es-unity .hero-unit {
  padding: 10px;
  background: #fff;
  margin: 0 0 2px;
  border: 1px solid transparent;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
}
body div#fd.es .es-unity .hero-unit .hero-title {
  text-align: center;
  font-size: 24px;
  line-height: 22px;
  font-weight: bold;
  margin: 6px 0 16px;
  padding: 0;
}
body div#fd.es .es-unity .hero-unit .hero-unit-message {
  color: #555;
  text-align: center;
  padding: 20px;
}
body div#fd.es .es-unity .hero-unit .hero-unit-message p {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}
body div#fd.es .es-unity .hero-unit img {
  margin-bottom: 10px;
}
body div#fd.es .es-unity .es-streams {
  padding: 0;
}
body div#fd.es .es-unity .es-unity-content {
  margin: 20px 0;
  display: table;
  width: 100%;
  position: relative;
}
body div#fd.es .es-unity .es-spotlignt-col {
  display: table-cell;
  vertical-align: top;
  empty-cells: show;
  height: 100%;
  background: red;
}
body div#fd.es .es-unity .es-spotlignt-col.col-left {
  width: 60%;
}
body div#fd.es .es-unity .es-stats-wrap,
body div#fd.es .es-unity .es-form-wrap,
body div#fd.es .es-unity .es-unity-divider {
  display: table-cell;
  vertical-align: top;
}
body div#fd.es .es-unity .es-unity-divider {
  width: 20px;
}
body div#fd.es .es-unity .es-stats-wrap {
  width: 60%;
  height: 100%;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
}
body div#fd.es .es-unity .es-stats {
  position: relative;
  background: #fff;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
body div#fd.es .es-unity .es-stats .es-stat-hd:before,
body div#fd.es .es-unity .es-stats .es-stat-hd:after,
body div#fd.es .es-unity .es-stats .es-stat-bd:before,
body div#fd.es .es-unity .es-stats .es-stat-bd:after,
body div#fd.es .es-unity .es-stats .xes-stat-ft:before,
body div#fd.es .es-unity .es-stats .xes-stat-ft:after {
  content: " ";
  display: table;
}
body div#fd.es .es-unity .es-stats .es-stat-hd:after,
body div#fd.es .es-unity .es-stats .es-stat-bd:after,
body div#fd.es .es-unity .es-stats .xes-stat-ft:after {
  clear: both;
}
body div#fd.es .es-unity .es-stats .es-stat-result {
  position: relative;
}
body div#fd.es .es-unity .es-stats .es-stat-result .es-stat-no {
  font-size: 18px;
}
body div#fd.es .es-unity .es-stats .es-stat-result .es-stat-desp {
  color: #999;
}
body div#fd.es .es-unity .es-stats .es-stat-hd {
  text-align: center;
  padding: 20px 10px;
  margin: 20px auto;
}
body div#fd.es .es-unity .es-stats .es-stat-hd .es-stat-result .es-stat-no {
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 10px;
}
body div#fd.es .es-unity .es-stats .es-stat-bd {
  text-align: center;
  position: relative;
}
body div#fd.es .es-unity .es-stats .es-stat-bd .es-stat-result {
  text-align: center;
  display: inline-block;
}
body div#fd.es .es-unity .es-stats .es-stat-bd .es-stat-result:first-child {
  margin-right: 15px;
}
body div#fd.es .es-unity .es-stats .es-stat-bd .es-stat-result + .es-stat-result {
  margin-left: 15px;
}
body div#fd.es .es-unity .es-stats .es-stat-bd .es-stat-result + .es-stat-result .es-stat-no {
  color: #79BA0E;
}
body div#fd.es .es-unity .es-stat-register {
  border-top: 1px solid #d7d7d7;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  width: 60%;
  position: absolute;
  bottom: 0;
  left: 0;
}
body div#fd.es .es-unity .es-stat-register .btn {
  padding: 8px 20px;
}
body div#fd.es .es-unity .es-form-wrap {
  border: 1px solid #d7d7d7;
  background: #EFF0F4;
  padding: 0 20px;
  border-radius: 5px;
}
body div#fd.es .es-unity .es-form-wrap .es-form-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  line-height: 18px;
  margin-bottom: 8px;
}
body div#fd.es .es-unity .es-form-wrap .es-form-login {
  margin-top: 16px;
}
body div#fd.es .es-unity .es-form-wrap .es-form-login input[type="text"],
body div#fd.es .es-unity .es-form-wrap .es-form-login input[type="password"] {
  height: 32px;
}
body div#fd.es .es-unity .es-form-wrap .es-form-login .btn-login {
  margin-top: 14px;
}
body div#fd.es .es-unity .es-form-wrap .es-form-login .help-block a {
  color: #888;
}
body div#fd.es .es-unity .es-form-wrap .es-signin-social p {
  margin-top: 20px;
}
body div#fd.es .es-unity .es-form-wrap .es-signin-social .line {
  position: relative;
}
body div#fd.es .es-unity .es-form-wrap .es-signin-social .line:before {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 9px;
  height: 1px;
}
body div#fd.es .es-unity .es-form-wrap .es-signin-social .line strong {
  padding: 0 6px;
  position: relative;
  z-index: 2;
}
body div#fd.es .es-unity .es-form-wrap .es-signin-social .text-error,
body div#fd.es .es-unity .es-form-wrap .es-signin-social .text-error a {
  color: #B94A48;
}
body div#fd.es .es-unity .es-unity-happen .es-unity-title {
  position: relative;
  text-align: center;
  margin: 32px auto;
}
body div#fd.es .es-unity .es-unity-happen .es-unity-title:before {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
}
body div#fd.es .es-unity .es-unity-happen .es-unity-title span {
  padding: 0 10px;
  position: relative;
  z-index: 2;
  font-size: 20px;
  font-weight: bold;
}
body div#fd.es .es-unity .es-unity-happen .es-modules-wrap .widget-list-grid {
  padding: 10px;
}
body div#fd.es .es-unity .es-unity-happen .es-modules-wrap + .es-modules-wrap {
  margin-top: 25px;
}
body div#fd.es .es-unity .btn-subscribe {
  display: block;
  padding: 30px;
  margin-bottom: 40px;
  background: transparent;
}
body div#fd.es .es-unity .btn-subscribe:hover {
  background: transparent;
}
body div#fd.es.w480 .es-unity .es-unity-happen [class*="span"] {
  display: block;
  width: 100%;
  margin-left: 0;
}
body div#fd.es .row-table {
  display: table;
  width: 100%;
}
body div#fd.es .col-cell {
  display: table-cell;
  vertical-align: top;
}
body div#fd.es .cell-half {
  width: 50%;
}
body div#fd.es .panel-go .col-cell {
  vertical-align: middle;
  padding: 30px 50px;
}
body div#fd.es .panel-go .col-cell +.col-cell {
  border-left: 1px solid #eee;
}
