@import "/templates/vina_bonnie/bootstrap-3.3.7/less/variables.less";
.default_position
{
  position: relative;
  display: block;

  float: right;

  .login,.profile-name
  {
    line-height: 30px;
    color: #999;
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
  }
  .login:hover,.profile-name.hover{
    background: #fff;
    text-decoration: none;
  }
  .mod-es-login
  {
    color:#999;
    position: absolute;
    background-color: #fff;
    margin: 0 0 20px;
    padding: 8px 15px;
    z-index: 999999;
    right: 0;
    width: 550px;
    top: 100%;
    display: none;
    line-height:20px;
    .new-messenger,.total-post
    {
      border-top:1px dotted #ccc ;
      padding: 5px 0px;
    }
    .total-post
    {
      border-bottom:1px dotted #ccc ;
    }
    @media (min-width: @screen-xxs-min) and (max-width: @screen-lg-max)   {

    }

    @media (min-width: @screen-xxxs-min) and (max-width: @screen-xxxs-max)   {
      width:@screen-xxxs-min;
    }

    @media (min-width: @screen-xxs-min)  and (max-width: @screen-xxs-max)   {
      width:@screen-xxs-min;
    }
    @media (min-width: @screen-xs-min)  and (max-width: @screen-xs-max)   {
      width:@screen-xs-min;
    }

    @media (min-width: @screen-sm-min)  and (max-width: @screen-sm-max)   {
      width:@screen-sm-min;
    }
  }
}