.default_position
{
  position: relative;
  display: block;

  float: right;

  .login,.profile-name
  {
    line-height: 30px;
    color: #999;
    display: block;
    padding: 0 5px;
    text-decoration: none;
  }
  .login:hover,.profile-name.hover{
    background: #fff;
    text-decoration: none;
  }
  .mod-es-login
  {
    position: absolute;
    background-color: #fff;
    margin: 0 0 20px;
    padding: 8px 15px;
    z-index: 999999;
    right: 0;
    width: 350px;
    top: 100%;
    display: none;
  }
}