.hikashop_module {
  .view-product-listing {
    .hikashop_products {
      .module-title {
        margin: 0;
        text-transform: uppercase;
        .icon {
          width: 21px;
        }
      }
      .hikashop_container {
        display: table;
        .hikashop_product_listing_image {
          margin: 0 auto;
        }
        .hikashop_subcontainer {
          padding-bottom: 10px;
        }
        .hikashop_product_image .hikashop_product_listing_image {
          height: auto;
        }
      }

    }
  }
}