body div#fd.es.mod-es-recent-blogs .es-mod-title {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 14px;
}
body div#fd.es.mod-es-recent-blogs .es-mod-desp {
  margin-bottom: 5px;
}
body div#fd.es.mod-es-recent-blogs ul.es-nav-blogs > li {
  padding: 15px 0 !important;
}
body div#fd.es.mod-es-recent-blogs ul.es-nav-blogs > li .author-meta {
  margin-top: 3px;
}
body div#fd.es.mod-es-recent-blogs ul.es-nav-blogs > li + li {
  border-top: 1px solid #d7d7d7;
}
