.view-importproductvatgia-all table.list-category-vat-gia-and-category-system {
  margin-bottom: 200px;
}
.view-importproductvatgia-all table.list-category-vat-gia-and-category-system input,
.view-importproductvatgia-all table.list-category-vat-gia-and-category-system select {
  width: auto;
}
.view-importproductvatgia-all table.list-category-vat-gia-and-category-system input[name="vatgia_category_id[]"],
.view-importproductvatgia-all table.list-category-vat-gia-and-category-system input[name="category_id[]"] {
  width: 50px;
}
.view-importproductvatgia-all .wrapper {
  float: left;
  height: 500px;
}
.view-importproductvatgia-all .wrapper .picture_link {
  display: block;
  width: 250px;
  height: 300px;
  background-repeat: no-repeat;
}
.view-importproductvatgia-all #test_get_content_product_vt .modal-body {
  max-height: 400px;
  overflow-y: scroll;
}
.view-importproductvatgia-all #test_get_content_product_vt .modal-body .wrapper {
  float: left;
  height: 500px;
  width: 345px;
}
.view-importproductvatgia-all #test_get_content_product_vt .modal-body .wrapper .picture_link {
  display: block;
  width: 250px;
  height: 300px;
  background-repeat: no-repeat;
}
