.view-importproductvatgia-all
{
    table
    {
        input,select{
            width: auto;
        }
    }
    .wrapper
    {
        float: left;
        height: 500px;
        .picture_link
        {
            display: block;
            width: 250px;
            height: 300px;
            background-repeat: no-repeat;
        }
    }

}