.view-importproducttaobao-all
{
    table.list-category-tao-bao-and-category-system
    {
        margin-bottom: 200px;
        input,select{
            width: auto;
        }
        input[name="taobao_category_id[]"],input[name="category_id[]"]{
            width: 100px;
        }
    }
    .wrapper
    {
        float: left;
        height: 500px;
        .picture_link
        {
            display: block;
            width: 250px;
            height: 300px;
            background-repeat: no-repeat;
        }
    }
    #test_get_content_product_vt
    {
        .modal-body
        {
            max-height: 400px;
            overflow-y: scroll;
            .wrapper
            {
                float: left;
                height: 500px;
                width: 345px;
                .picture_link
                {
                    display: block;
                    width: 250px;
                    height: 300px;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}