.view-explorer
{
  .category-explorer {
    ul {
      list-style: none;
      .item {
        cursor: pointer;
      }
      li.item-category.selected > a
      {
        background: #ccc;
      }
    }
  }
}
